<loading-cmp *ngIf="isLoading"></loading-cmp>
<div class="wrapp-for-forms" *ngIf="!isLoading">
    <form *ngIf="!rulesShow" (ngSubmit)="CreateCoworking(submitFormCwrc)" #submitFormCwrc="ngForm">
        <h6 class="head-form">
            <span>Регистрация</span>
        </h6>
        <div *ngIf="RegistrationErr">
                <h2 class="error-text-style">{{RegErrMsg}}</h2>
            </div>
        <div class="avatar-img hovered" [ngStyle]="{'background-image': 'url('+Coworking.image+')'}"></div>
        <label class="file_upload">
            <span class="button">Загрузить аватар</span>
            <input accept=".jpg, .jpeg, .png" type="file" (change)="loadLogo($event)">
        </label>
        <div class="my-form-groupe">
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Email</p>
                </div>
                <div class="right-side side">
                    <input class="input-text-style" type="text" #email="ngModel" name="email" [ngModel]="Coworking.email" (ngModelChange)="Coworking.email = $event" email required>
                    <p *ngIf="email.invalid && email.touched" class="red-error">Input valid email!</p>
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Полное название коворкинга</p>
                </div>
                <div class="right-side side">
                    <input type="text" class="input-text-style" autocomplete="off"  name="fullname" [ngModel]="Coworking.full_name" (ngModelChange)="Coworking.full_name = $event" >
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Сокращенное название коворкинга</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="short_name" [ngModel]="Coworking.short_name" (ngModelChange)="Coworking.short_name = $event" >
                </div>
            </div>
            <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" validateEqual password="password" confirmation="passwordConfirmation">
                <div class="row-inputs">
                    <div class="left-side side">
                        <p>Пароль</p>
                    </div>
                    <div class="right-side side">
                        <input class="input-text-style" mdInput
                        type="password"
                        required
                        #password="ngModel" minlength="6" name="password" [ngModel]="Coworking.password" (ngModelChange)="Coworking.password = $event">
                        <p *ngIf="password.invalid && password.touched" class="red-error">Password`s minimum length is 6!</p>
                    </div>
                </div>
                <div class="row-inputs">
                    <div class="left-side side">
                        <p>Подтверждение пароля</p>
                    </div>
                    <div class="right-side side">
                        <input  class="input-text-style" mdInput
                        type="password"
                        required
                        ngModel name="passwordConfirmation"
                        #passwordConfirmation="ngModel"  minlength="6" [ngModel]="Coworking.password_confirmation" (ngModelChange)="Coworking.password_confirmation = $event">
                        <p *ngIf="passwordGroup.invalid && passwordGroup.touched && passwordConfirmation.touched" class="red-error">Password have to be matched!</p>
                    </div>
                </div>
            </div>  
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Телефон</p>
                </div>
                <div class="right-side side">
                    <input class="input-text-style" type="text" pattern="^[+]?[0-9]{3,}$" #phone="ngModel" name="phone" [ngModel]="Coworking.phone" (ngModelChange)="Coworking.phone = $event">
                    <p *ngIf="phone.invalid && phone.touched" class="red-error">Input valid phone!</p>
                </div>
            </div>
             
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Количество мест</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="number" min="0" pattern="^[0-9]+$" class="input-text-style" name="capacity" [ngModel]="Coworking.capacity" (ngModelChange)="Coworking.capacity = $event">
                </div>
            </div>

            <div class="row-inputs">
                <div class="left-side side">
                    <p>Цена ($/час)</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="number" min="0" pattern="^[0-9]+$" class="input-text-style" name="price" [ngModel]="Coworking.price" (ngModelChange)="Coworking.price = $event">
                </div>
            </div>

             <div class="row-inputs">
                <div class="left-side side">
                    <p>Контактная информация</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text"  class="input-text-style" name="contacts" [ngModel]="Coworking.contacts" (ngModelChange)="Coworking.contacts = $event">
                </div>
            </div>
             <div class="row-inputs">
                <div class="left-side side">
                    <p>Адрес:</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="address" [ngModel]="Coworking.address" (ngModelChange)="Coworking.address = $event">
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Описание:</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="description" [ngModel]="Coworking.description" (ngModelChange)="Coworking.description = $event">
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Дополнительная информация (очень важная, без нее никак):</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="additional_info" [ngModel]="Coworking.additional_info" (ngModelChange)="Coworking.additional_info = $event">
                </div>
            </div>
        </div>
        <p class="head-my-form-groupe">Контактное лицо</p>
        <div class="my-form-groupe">
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Фамилия</p>
                </div>
                <div class="right-side side">
                    <input class="input-text-style" type="text" autocomplete="off" #lastN="ngModel" name="lname" [ngModel]="Coworking.last_name" (ngModelChange)="Coworking.last_name = $event" required>
                    <p *ngIf="lastN.invalid && lastN.touched" class="red-error">Last name can`t be empty!</p>
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p>Имя</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" class="input-text-style" type="text" #firstN="ngModel" name="fname" [ngModel]="Coworking.first_name" (ngModelChange)="Coworking.first_name = $event" required>
                    <p *ngIf="firstN.invalid && firstN.touched" class="red-error">First name can`t be empty!</p>
                </div>
            </div>
            
        </div>
        <h6 class="head-form">
            <span>Фото</span>
        </h6>
        <div class="photos-wrapp">
            <label class="files_upload" [ngClass]="{'for-disabled-style': !flagForImages }">
                <span class="butt-orange">Загрузить фото</span>
                <input [disabled]="!flagForImages" name="galery_images" type="file" multiple accept=".jpg, .jpeg, .png" (change)="changeListener($event)">
            </label>
            <div class="photos">
                <div class="one-photo" *ngFor="let img of Coworking.images; let i = index" >
                    <div class="for-hover" (click)="DeleteImage(i)" [ngStyle]="{'background-image': 'url('+img+')'}"></div>
                </div>
            </div>
        </div>
        <h6 class="head-form">
            <span>Время работы</span>
        </h6>
        <div class="setting-1">
            <div class="for-relative">
                <p>Выходные дни</p>
                <div class="mac-checkbox big">
                    <input type="checkbox" class="checkbox" name="wknd" id="checkbox-1" [ngModel]="Weekends" (ngModelChange)="Weekends = $event">
                    <label for="checkbox-1"></label>
                </div>
            </div>
        </div>
        <div class="my-form-groupe-2">
            <div class="one-day" *ngFor="let item of Days;let i = index">
                    <div class="left-side-t" *ngIf="!item.weekend || item.weekend == Weekends">
                        <div class="add-day">
                            <div class="orange-checkbox">
                                <input type="checkbox" class="checkbox" [name]="'workingday'+i" [id]="'checkboxOr-day-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                                <label [for]="'checkboxOr-day-'+i"></label>
                            </div>
                            <p class="day-of-week">{{item.ru_name}}</p>
                        </div>
                        <div class="inputs checked-day">
                            <input class="input-time-style" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="time" [name]="'from'+i" [ngModel]="item.start_work" (ngModelChange)="OnBeginWorkChanged(i,$event)">
                            <span>:</span>
                            <input class="input-time-style" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="time" [name]="'to'+i" [ngModel]="item.finish_work" (ngModelChange)="item.finish_work = $event">
                        </div>
                    </div>
                    <div class="right-side-mac-chec" *ngIf="!item.weekend || item.weekend == Weekends">
                        <p>Круглосуточно</p>
                        <div class="mac-checkbox">
                            <input type="checkbox" class="checkbox" [name]="'nonstop'+i" [id]="'checkbox-2-'+i" [ngModel]="item.nonstop" (ngModelChange)="SetWorkNonStop(i,$event)">
                            <label [for]="'checkbox-2-'+i"></label>
                        </div>
                    </div>
            </div>
        </div>
         <h6 class="head-form">
            <span>Услуги коворкинга</span>
        </h6>
        <div class="my-form-groupe-3">
            <div class="one-nishtyaki" *ngFor="let item of AmetiesCB;let i = index">
                <p>{{item.name}}</p>
                <div class="orange-checkbox">
                    <input type="checkbox" class="checkbox" [name]="'nyshtiak'+i" [id]="'check-nyshtiak-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked =  $event">
                    <label [for]="'check-nyshtiak-'+i"></label>
                </div>
            </div>
        </div>
       
        <button class="butt-orange" [disabled]="!submitFormCwrc.valid" type="submit">Создать коворкинг</button>
    </form>
    <div *ngIf="rulesShow" class="agreement">
        <div class="text">
            <h1>Rules d4w</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="agree-disagree-wr">
            <form class="agree" (ngSubmit)="finalCreateCoworking()">
                <button class="butt-orange" type="submit">Я согласен</button>
            </form>
            <form class="disagree">
                <button class="butt-orange disagree-butt" (click)="rulesShow = !rulesShow">Я не согласен</button>
            </form>
        </div>
    </div>
</div>

    


    