<loading-cmp *ngIf="isLoading"></loading-cmp>
<div class="wrapp-for-forms" [@ShowHideTrigger]="'start'" *ngIf="!isLoading">
    <form *ngIf="!rulesShow" (ngSubmit)="CreateCoworking(submitFormCwrc)" #submitFormCwrc="ngForm">
            <div *ngIf="RegistrationErr">
                    <h2 class="error-text-style">{{RegErrMsg}}</h2>
                </div>
        <h6 class="head-form">
            <span translate>signUp</span>
        </h6>
      
        <div class="avatar-img hovered" [ngStyle]="{'background-image': 'url('+Coworking.image+')'}"></div>
        <label class="file_upload">
            <span class="button" translate>picture</span>
            <input accept=".jpg, .jpeg, .png" type="file" (change)="loadLogo($event)">
        </label>
        <div class="my-form-groupe">
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>email</p>
                </div>
                <div class="right-side side">
                    <input class="input-text-style" type="text" #email="ngModel" name="email" [ngModel]="Coworking.email" (ngModelChange)="Coworking.email = $event" email required>
                    <p *ngIf="email.invalid && email.touched" class="red-error" translate>invalidEmail</p>
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>cwrkFullName</p>
                </div>
                <div class="right-side side">
                    <input type="text" maxlength="35" class="input-text-style" autocomplete="off"  name="fullname" [ngModel]="Coworking.full_name" (ngModelChange)="Coworking.full_name = $event" >
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>cwrkShortName</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" maxlength="20" type="text" class="input-text-style" name="short_name" [ngModel]="Coworking.short_name" (ngModelChange)="Coworking.short_name = $event" >
                </div>
            </div>
            <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" validateEqual password="password" confirmation="passwordConfirmation">
                <div class="row-inputs">
                    <div class="left-side side">
                        <p translate>passwordReq</p>
                    </div>
                    <div class="right-side side">
                        <input class="input-text-style" mdInput
                        type="password"
                        required
                        #password="ngModel" minlength="6" name="password" [ngModel]="Coworking.password" (ngModelChange)="Coworking.password = $event">
                        <p *ngIf="password.invalid && password.touched" class="red-error" translate>pswLength</p>
                    </div>
                </div>
                <div class="row-inputs">
                    <div class="left-side side">
                        <p translate>pswConfirm</p>
                    </div>
                    <div class="right-side side">
                        <input  class="input-text-style" mdInput
                        type="password"
                        required
                        ngModel name="passwordConfirmation"
                        #passwordConfirmation="ngModel"  minlength="6" [ngModel]="Coworking.password_confirmation" (ngModelChange)="Coworking.password_confirmation = $event">
                        <p *ngIf="passwordGroup.invalid && passwordGroup.touched && passwordConfirmation.touched" class="red-error" translate>matched</p>
                    </div>
                </div>
            </div>  
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>phone</p>
                </div>
              
                <div class="right-side side">
                    <input class="input-text-style" type="text" [textMask]="MaskTelephone()"  #phone="ngModel" name="phone" [ngModel]="Coworking.phone" (ngModelChange)="Coworking.phone = $event">
                    <p *ngIf="phone.invalid && phone.touched" class="red-error" translate>incPhone</p>
                </div>
            </div>
             
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>numOfPlaces</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" #capacity="ngModel" maxlength="4" pattern="^[0-9]+$" class="input-text-style" name="capacity" [ngModel]="Coworking.capacity" (ngModelChange)="Coworking.capacity = $event">
                    <p *ngIf="capacity.invalid && capacity.touched" class="red-error" translate>invCapacity</p>
                </div>
            </div>

            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>price</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" #price="ngModel" maxlength="4" pattern="^[0-9]+$" class="input-text-style" name="price" [ngModel]="Coworking.price" (ngModelChange)="Coworking.price = $event">
                    <p *ngIf="price.invalid && price.touched" class="red-error" translate>invPrice</p>
                </div>
            </div>

             <div class="row-inputs">
                <div class="left-side side">
                    <p translate>contact</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text"  class="input-text-style" name="contacts" [ngModel]="Coworking.contacts" (ngModelChange)="Coworking.contacts = $event">
                </div>
            </div>
             <div class="row-inputs">
                <div class="left-side side">
                    <p translate>address</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="address" [ngModel]="Coworking.address" (ngModelChange)="Coworking.address = $event">
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>description</p>
                </div>
                <div class="right-side side">
                    <textarea autocomplete="off" type="text" class="input-text-style" name="description" [ngModel]="Coworking.description" (ngModelChange)="Coworking.description = $event"></textarea>
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>extraInfo</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" type="text" class="input-text-style" name="additional_info" [ngModel]="Coworking.additional_info" (ngModelChange)="Coworking.additional_info = $event" [placeholder]="'extra' | translate">
                </div> 
            </div>
        </div>
        <p class="head-my-form-groupe" translate>contactPerson</p>
        <div class="my-form-groupe">
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>surname</p>
                </div>
                <div class="right-side side">
                    <input class="input-text-style" type="text" maxlength="20" autocomplete="off" #lastN="ngModel" name="lname" [ngModel]="Coworking.last_name" (ngModelChange)="Coworking.last_name = $event" required>
                    <p *ngIf="lastN.invalid && lastN.touched" class="red-error" translate>emptySurname</p>
                </div>
            </div>
            <div class="row-inputs">
                <div class="left-side side">
                    <p translate>name</p>
                </div>
                <div class="right-side side">
                    <input autocomplete="off" class="input-text-style" maxlength="20" type="text" #firstN="ngModel" name="fname" [ngModel]="Coworking.first_name" (ngModelChange)="Coworking.first_name = $event" required>
                    <p *ngIf="firstN.invalid && firstN.touched" class="red-error" translate>emptyName</p>
                </div>
            </div>
            
        </div>
        <h6 class="head-form">
            <span translate>photo</span>
        </h6>
        <div class="photos-wrapp">
            <label class="files_upload" [ngClass]="{'for-disabled-style': !flagForImages }">
                <span class="butt-orange" translate>uploadPhoto</span>
                <input [disabled]="!flagForImages" name="galery_images" type="file" multiple accept=".jpg, .jpeg, .png" (change)="changeListener($event)">
            </label>
            <div class="photos">
                <div class="one-photo" *ngFor="let img of Coworking.images; let i = index" >
                    <div class="for-hover" (click)="DeleteImage(i)" [ngStyle]="{'background-image': 'url('+img+')'}"></div>
                </div>
            </div>
        </div>
        <h6 class="head-form">
            <span translate>workTime</span>
        </h6>
        <div class="setting-1">
            <div class="for-relative">
                <p translate>weekends</p>
                <div class="mac-checkbox big">
                    <input type="checkbox" class="checkbox" name="wknd" id="checkbox-1" [ngModel]="Weekends" (ngModelChange)="changeWeekends($event)">
                    <label for="checkbox-1"></label>
                </div>
            </div>
        </div>
        <div class="my-form-groupe-2">
            <ng-container  *ngFor="let item of Days;let i = index">
            <div class="one-day" [ngStyle]="{'display': (!item.weekend || item.weekend == Weekends) ? 'flex':'none'}">
                    <div class="left-side-t" >
                        
                        <div class="add-day">
                            <div class="orange-checkbox">
                                <input type="checkbox" class="checkbox" [name]="'workingday'+i" [id]="'checkboxOr-day-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                                <label [for]="'checkboxOr-day-'+i"></label>
                            </div>
                            <p class="day-of-week" *ngIf="service.GetCurrentLang() == 'ru'">{{item.ru_name}}</p>
                            <p class="day-of-week" *ngIf="service.GetCurrentLang() == 'en'">{{item.en_name}}</p>
                        </div>
                        <div class="inputs checked-day">
                            <input class="input-time-style time-mask" [textMask]="getMask(i)" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="text" [name]="'from'+i" [ngModel]="item.start_work" (ngModelChange)="OnBeginWorkChanged(i,$event)" >
                            <span>-</span>
                            <input class="input-time-style time-mask" [textMask]="getMaskEnd(i)" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="text" [name]="'to'+i" [ngModel]="item.finish_work" (ngModelChange)="item.finish_work = $event">
                        </div>
                    </div>
                    <div class="right-side-mac-chec">
                        <p translate>dayNight</p>
                        <div class="mac-checkbox">
                            <input type="checkbox" class="checkbox" [name]="'nonstop'+i" [id]="'checkbox-2-'+i" [ngModel]="item.nonstop" (ngModelChange)="SetWorkNonStop(i,$event)">
                            <label [for]="'checkbox-2-'+i"></label>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
         <h6 class="head-form">
            <span translate>cwrkServices</span>
        </h6>
        <div class="my-form-groupe-3">
                <ng-container *ngIf="service.GetCurrentLang() == 'en'">
                    <div class="one-nishtyaki" *ngFor="let item of AmetiesCB;let i = index">
                        <p>{{item.name}}</p>
                        <div class="orange-checkbox">
                            <input type="checkbox" class="checkbox" [name]="'nyshtiak'+i" [id]="'check-nyshtiak-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked =  $event">
                            <label [for]="'check-nyshtiak-'+i"></label>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="service.GetCurrentLang() == 'ru'">
                        <div class="one-nishtyaki" *ngFor="let item of AmetiesCB;let i = index">
                            <p>{{item.ru_name}}</p>
                            <div class="orange-checkbox">
                                <input type="checkbox" class="checkbox" [name]="'nyshtiak'+i" [id]="'check-nyshtiak-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked =  $event">
                                <label [for]="'check-nyshtiak-'+i"></label>
                            </div>
                        </div>
                    </ng-container>
            </div>
       
        <button class="butt-orange" [disabled]="!submitFormCwrc.valid" type="submit" translate>createCwrk</button>
    </form>
    <div *ngIf="rulesShow" class="agreement">
        <div class="text">
            <h1>Rules d4w</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="agree-disagree-wr">
            <form class="agree" (ngSubmit)="finalCreateCoworking()">
                <button class="butt-orange" type="submit">Я согласен</button>
            </form>
            <form class="disagree">
                <button class="butt-orange disagree-butt" (click)="rulesShow = !rulesShow">Я не согласен</button>
            </form>
        </div>
    </div>
</div>

    


    