<ng-container>
            <loading-cmp *ngIf="isLoading"></loading-cmp>
            <div class="wrapp-for-forms" [@ShowHideTrigger]="'start'" *ngIf="!isLoading">
                <form (ngSubmit)="UpdateCoworking(submitFormCwrc)" #submitFormCwrc="ngForm">
                    <h6 class="head-form">
                        <span translate>cwrkChange</span>
                    </h6>
                        <h2 *ngIf="RegistrationErr" class="error-text-style">{{RegErrMsg}}</h2>
                    <div class="avatar-img hovered" [ngStyle]="{'background-image': 'url('+Coworking.image+')'}"></div>
                    <label class="file_upload">
                        <span class="button" translate>picture</span>
                        <input accept=".jpg, .jpeg, .png" type="file" (change)="loadLogo($event)">
                    </label>
                    
                    <div class="my-form-groupe">
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>email</p>
                            </div>
                            <div class="right-side side">
                                <input class="input-text-style" type="text" #email="ngModel" name="email" [ngModel]="Coworking.email" (ngModelChange)="Coworking.email = $event" email required>
                                <p *ngIf="email.invalid && email.touched" class="red-error" translate>invalidEmail</p>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>cwrkFullName</p>
                            </div>
                            <div class="right-side side">
                                <input type="text" maxlength="35" class="input-text-style" autocomplete="off"  name="fullname" [ngModel]="Coworking.full_name" (ngModelChange)="Coworking.full_name = $event" required>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>cwrkShortName</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" maxlength="20" type="text" class="input-text-style" name="short_name" [ngModel]="Coworking.short_name" (ngModelChange)="Coworking.short_name = $event" required>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>phone</p>
                            </div>
                            <div class="right-side side">
                                <input class="input-text-style" type="text" [textMask]="MaskTelephone()" #phone="ngModel" name="phone" [ngModel]="Coworking.phone" (ngModelChange)="Coworking.phone = $event" required>
                                <p *ngIf="phone.invalid && phone.touched" class="red-error" translate>incPhone</p>
                            </div>
                        </div>
                         
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>numOfPlaces</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" type="text" #capacity="ngModel" maxlength="4" pattern="^[0-9]+$" class="input-text-style" name="capacity" [ngModel]="Coworking.capacity" (ngModelChange)="Coworking.capacity = $event" required>
                                <p *ngIf="capacity.invalid && capacity.touched" class="red-error" translate>invCapacity</p>
                            </div>
                        </div>
            
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>price</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" type="text" #price="ngModel" maxlength="4" pattern="^[0-9]+$" class="input-text-style" name="price" [ngModel]="Coworking.price" (ngModelChange)="Coworking.price = $event" required>
                                <p *ngIf="price.invalid && price.touched" class="red-error" translate>invPrice</p>
                            </div>
                        </div>
            
                         <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>contact</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" type="text"  class="input-text-style" name="contacts" [ngModel]="Coworking.contacts" (ngModelChange)="Coworking.contacts = $event">
                            </div>
                        </div>
                         <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>address</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" type="text" class="input-text-style" name="address" [ngModel]="Coworking.address" (ngModelChange)="Coworking.address = $event" required>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>description</p>
                            </div>
                            <div class="right-side side">
                                <textarea autocomplete="off" type="text" class="input-text-style" name="description" [ngModel]="Coworking.description" (ngModelChange)="Coworking.description = $event"></textarea>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>extraInfo</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" type="text" class="input-text-style" name="additional_info" [ngModel]="Coworking.additional_info" (ngModelChange)="Coworking.additional_info = $event">
                            </div>
                        </div>
                    </div>
                    <p class="head-my-form-groupe" translate>contactPerson</p>
                    <div class="my-form-groupe">
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>surname</p>
                            </div>
                            <div class="right-side side">
                                <input class="input-text-style" type="text" autocomplete="off" #lastN="ngModel" name="lname" [ngModel]="Coworking.last_name" (ngModelChange)="Coworking.last_name = $event" required>
                                <p *ngIf="lastN.invalid && lastN.touched" class="red-error" translate>emptySurname</p>
                            </div>
                        </div>
                        <div class="row-inputs">
                            <div class="left-side side">
                                <p translate>name</p>
                            </div>
                            <div class="right-side side">
                                <input autocomplete="off" class="input-text-style" type="text" #firstN="ngModel" name="fname" [ngModel]="Coworking.first_name" (ngModelChange)="Coworking.first_name = $event" required>
                                <p *ngIf="firstN.invalid && firstN.touched" class="red-error" translate>nameEmpty</p>
                            </div>
                        </div>
                        
                    </div>
                    <h6 class="head-form">
                        <span translate>photo</span>
                    </h6>
                    <div class="photos-wrapp">
                        <label class="files_upload" [ngClass]="{'for-disabled-style': Coworking.images.length == 5 }">
                            <span class="butt-orange" translate>uploadPhoto</span>
                            <input [disabled]=" Coworking.images.length == 5 " name="galery_images" type="file" multiple accept=".jpg, .jpeg, .png" (change)="changeListener($event)">
                        </label>
                        <div class="photos">
                            <div class="one-photo" *ngFor="let img of Coworking.images; let i = index" >
                                <div class="for-hover" (click)="DeleteImage(i)" [ngStyle]="{'background-image': 'url('+img+')'}"></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="head-form">
                        <span translate>workTime</span>
                    </h6>
                    <h2 *ngIf="arrorTime" class="error-text-style">{{arrorTime}}</h2>
                    <div class="my-form-groupe-2 style-edit">
                        <div class="one-day" *ngFor="let item of Days;let i = index">
                                <div class="left-side-t">
                                    <div class="add-day">
                                        <div class="orange-checkbox">
                                            <input type="checkbox" class="checkbox" [name]="'workingday'+i" [id]="'checkboxOr-day-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked = $event">
                                            <label [for]="'checkboxOr-day-'+i"></label>
                                        </div>
                                        <p class="day-of-week" *ngIf="service.GetCurrentLang() == 'ru'">{{item.ru_name}}</p>
                                        <p class="day-of-week" *ngIf="service.GetCurrentLang() == 'en'">{{item.en_name}}</p>
                                    </div>
                                    <div class="inputs checked-day">
                                        <input class="input-time-style" [textMask]="getMask(i)" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="text" [name]="'from'+i" [ngModel]="item.start_work" (ngModelChange)="OnBeginWorkChanged(i,$event)">
                                        <span>:</span>
                                        <input class="input-time-style" [textMask]="getMaskEnd(i)" [disabled]="item.nonstop || !item.checked" autocomplete="off" type="text" [name]="'to'+i" [ngModel]="item.finish_work" (ngModelChange)="item.finish_work = $event">
                                    </div>
                                </div>
                        </div>
                    </div>
                     <h6 class="head-form">
                        <span translate>cwrkServices</span>
                    </h6>
                    <div class="my-form-groupe-3">
                        <ng-container *ngIf="service.GetCurrentLang() == 'en'">
                            <div class="one-nishtyaki" *ngFor="let item of AmetiesCB;let i = index">
                                <p>{{item.name}}</p>
                                <div class="orange-checkbox">
                                    <input type="checkbox" class="checkbox" [name]="'nyshtiak'+i" [id]="'check-nyshtiak-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked =  $event">
                                    <label [for]="'check-nyshtiak-'+i"></label>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="service.GetCurrentLang() == 'ru'">
                                <div class="one-nishtyaki" *ngFor="let item of AmetiesCB;let i = index">
                                    <p>{{item.ru_name}}</p>
                                    <div class="orange-checkbox">
                                        <input type="checkbox" class="checkbox" [name]="'nyshtiak'+i" [id]="'check-nyshtiak-'+i" [ngModel]="item.checked" (ngModelChange)="item.checked =  $event">
                                        <label [for]="'check-nyshtiak-'+i"></label>
                                    </div>
                                </div>
                            </ng-container>
                    </div>
                    <button class="butt-orange" [disabled]="!submitFormCwrc.valid" type="submit" translate>chngCwrk</button>
                </form>
               
                <div class="all-coworkings">
                    <h6 class="head-form">
                        <span translate>cwkWorkers</span>
                    </h6>
                 
                    <p class="head-my-form-groupe" translate>request</p>
                    <div class="search-form my-booking-user styles--lists">
                        <div class="row">
                            
                            <div class="col-md-2">
                                <p translate>usrID</p>
                            </div>
                            <div class="col-md-3">
                                <p translate>usrName</p>
                            </div>
                            <div class="col-md-3">
                                <p translate>usrEmail</p>
                            </div>
                            <div class="col-md-2">
                                <p class="to-del" translate>add</p>
                            </div>
                            <div class="col-md-2">
                                <p class="to-del" translate>delete</p>
                            </div>
                        </div>
                        <div class="row" *ngFor="let item of coworkingWorkersRequest">
                        
                            <div class="col-md-2">
                                <p>{{item.user_id}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{item.user_name}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{item.user_email}}</p>
                            </div>
                            <div class="col-md-2">
                                <div class="add-booking" (click)="AddWorker(item.id)"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="delete-booking" (click)="DeleteRequestWorker(item.id)"></div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <p class="head-my-form-groupe" translate>available</p>
                    <div class="search-form my-booking-user styles--lists">
                        <div class="row">
                            
                            <div class="col-md-1">
                                <p>ID</p>
                            </div>
                            <div class="col-md-4">
                                <p>Email</p>
                            </div>
                            <div class="col-md-4">
                                <p translate>name</p>
                            </div>
                            <div class="col-md-3">
                                <p class="to-del" translate>delete</p>
                            </div>
                            
                        </div>
                        <div class="row" *ngFor="let item of coworkingWorkers">
                            
                            <div class="col-md-1">
                                <p>{{item.id}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{{item.email}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{{item.first_name}}</p>
                            </div>
                            <div class="col-md-3">
                                <div class="delete-booking" (click)="DeleteWorker(item.id)"></div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <p class="head-my-form-groupe" translate>addAccess</p>                          
                <form (ngSubmit)="AddWorkerEmail(email.value)" class="form-inline my--new-form-flex"> 
                    <div class="form-group">                                  
                        <input autocomplete="off" type="text" class="input-text-style" #email name="email">
                        <button class="butt-orange" type="submit" translate>add</button>
                    </div>
                </form>       
                
        </div>
    </ng-container>
    