

<loading-cmp *ngIf="isLoading"></loading-cmp>


<div class="wrapp-for-forms" *ngIf="!isLoading">

    <h2 class="error-msg">{{RegErrMsg}}</h2>
    <h6 class="head-form">
        <span>Коворкинг "{{Coworking?.full_name}}"</span>
    </h6>

    <div class="description-coworking-wr">
        <div class="description-coworking">
            <p><strong>Цена: </strong>{{Coworking.price}}$</p>
            <p><strong>Кол-во мест: </strong>{{Coworking.capacity}}</p>
            <p><strong>Адрес: </strong>{{Coworking.address}}</p>
            <p><strong>Дата окончания: </strong>{{Booking.end_date.split("T")[0]| date: "MM/d/y"}}  {{Booking.end_date.split("T")[1].split(":")[0]}}{{Booking.end_date | date: ":mm"}}</p>
            <p><strong>Описание </strong>{{Coworking.description}}</p>

        </div>
        <div class="likeDislike">
            <button class="like" (click)="rateCoworking(Coworking.id,'yes')" [ngClass]="{'checked-rate':Rate && Rate.score == 'yes'}"></button>
            <button class="dislike" (click)="rateCoworking(Coworking.id,'no')" [ngClass]="{'checked-rate':Rate && Rate.score == 'no'}"></button>
            
        </div>
        <button type="button" class="butt-orange" style="margin-right: 15px;" (click)="extendBooking()">Продлить на 30 минут</button>
    </div>
 </div>

