
        <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Address</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let item of Coworkings;let i = index">
                            <td> <a [routerLink]="['/coworking',item.coworking_id]">{{item.coworking_id}}</a></td>
                            <td>{{item.coworking_name}}</td>
                            <td>{{item.coworking_address}}</td>
                            <td>
                               <button (click)="UnBooking(item.id)">UnBooking</button>
                            </td>
                    </tr>
              </tbody>
        </table>

  
