
        <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Begin</th>
                      <th>End</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let item of Bookings;let i = index">
                            <td> <a [routerLink]="['/coworking',item.coworking_id]">Open</a></td>
                            <td>{{Coworkings[i].full_name}}</td>
                            <td>{{Coworkings[i].address}}</td>
                            <td>{{item.begin_date| date: "MMM d, y h:mm:ss a"}}</td>
                            <td>{{item.end_date | date: "MMM d, y h:mm:ss a"}}</td>
                            <td>

                                    <a class="col-md-2 fsize30 pointer-curs" (click)="UnBooking(item.id)">
                                            <i class="pe-7s-less"></i>
                                        </a>


                               <!--<button (click)="UnBooking(item.id)">UnBooking</button>-->
                            </td>
                    </tr>
              </tbody>
        </table>

  
