
    <link res="stylesheet" href="./source/css/style.css">
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    
    <div>
          
      <div >
        <h2>Je suis {{(RegisterUser.user_type == 'professional')?'prestataire':'client'}}</h2>
        <form (ngSubmit)="Register()">
          <label>Email</label>
          <input type="text" name="user_email" [ngModel]="RegisterUser.email" (ngModelChange)="RegisterUser.email = $event"><br>

          <label>Password</label>
          <input type="password" name="password" [ngModel]="RegisterUser.password" (ngModelChange)="RegisterUser.password = $event"><br>

          <label>Name</label>
          <input type="text" name="user_name" [ngModel]="RegisterUser.name" (ngModelChange)="RegisterUser.name = $event"><br>

          <label>Logo image</label>
          <img [src]='RegisterUser.image'>
          <input type="file" accept="image/*" name="logo_img" (change)="changeListener('user_logo',$event)"><br>
          
          <label>Birthday</label>
          <input type="date" name="p_birthday" [ngModel]="RegisterUser.date_of_birth" (ngModelChange)="RegisterUser.date_of_birth = $event"><br>

          <label>Gender</label>
          <select name="p_gender" [ngModel]="RegisterUser.gender" (ngModelChange)="RegisterUser.gender = $event">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select><br>

          <label>User type</label>
          <select name="user_type" [ngModel]="RegisterUser.user_type" (ngModelChange)="RegisterUser.user_type = $event">
            <option value="client">Client</option>
            <option value="professional">Professional</option>
          </select><br>
          <div *ngIf="RegisterUser.user_type == 'professional'">
            <label>Address</label>
            <input type="text" name="address" [ngModel]="RegisterUser.address" (ngModelChange)="RegisterUser.address = $event"><br>
            
            <label>Phone</label>
            <input type="text" name="p_phone" [ngModel]="RegisterUser.phone" (ngModelChange)="RegisterUser.phone = $event"><br>
            
            <label>Activity description</label>
            <textarea name="p_description" [ngModel]="RegisterUser.description" (ngModelChange)="RegisterUser.description = $event" ></textarea><br>

            <label>Photocopy of diploma</label>
            <img [src]='RegisterUser.diploma'>
            <input type="file"  accept="image/*" name="diploma" (change)="changeListener('diploma',$event)"><br>

            <label>Background image</label>
            <img [src]='RegisterUser.background'>
            <input type="file"  accept="image/*" name="background" (change)="changeListener('background',$event)"><br>
          </div>
          <button type="submit">Register</button>
        </form>
      </div>
    </div>

    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>