
    <link res="stylesheet" href="./source/css/style.css">
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    
    <div class="register_block">
      <div class="reg_block reg_left">
        <h2>Je suis client</h2>
        <form action="">
          <label>Name</label>
          <input type="text" name="c_name" [(ngModel)]="c_name"><br>

          <label>Birthday</label>
          <input type="date" name="c_birthday" [(ngModel)]="c_birthday"><br>
          
          <label>E-mail</label>
          <input type="text" name="c_email" [(ngModel)]="c_email"><br>

          <label>Phone</label>
          <input type="text" name="c_phone" [(ngModel)]="c_phone"><br>
          
          <label>Logo image</label>
          <input type="file"><br>
          
          <label>Password</label>
          <input type="password" name="c_password" [(ngModel)]="c_password"><br>
          
          <label>Gender</label>
          <select name="c_gender" [(ngModel)]="c_gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <button (click)="RegisterClient(c_gender,c_birthday,c_email,c_name,c_phone,c_password)">Register</button>
        </form>
      </div>
          
      <div class="reg_block reg_right">
        <h2>Je suis prestataire</h2>
        <form action="">
          <label>Name</label>
          <input type="text" name="p_name" [(ngModel)]="p_name"><br>

          <label>Birthday</label>
          <input type="date" name="p_birthday" [(ngModel)]="p_birthday"><br>
          
          <label>E-mail</label>
          <input type="text" name="p_email" [(ngModel)]="p_email"><br>

          <label>Phone</label>
          <input type="text" name="p_phone" [(ngModel)]="p_phone"><br>
          
          <label>Logo image</label>
          <input type="file"><br>

          <label>Background image</label>
          <input type="file"><br>

          <label>Gallery</label>
          <input type="file"><br>

          <label>Photocopy of diploma</label>
          <input type="file"><br>

          <label>Activity description</label>
          <textarea name="p_description" [(ngModel)]="p_description" ></textarea><br>
          
          <label>Password</label>
          <input type="password" name="p_password" [(ngModel)]="p_password"><br>
          
          <label>Gender</label>
          <select name="p_gender" [(ngModel)]="p_gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <button (click)="RegisterPro(p_gender,p_birthday,p_email,p_name,p_phone,p_password,p_description)">Register</button>
        </form>
      </div>
    </div>

    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>