
    <div class="hero">
      <div class="hero-content">
        <h1>Envie de dépenser votre énergie</h1>
        <h2>Trouver une activité autour de vous</h2>
      </div>
    </div>
    <div class="container1440 center-block container-fluid">
        <div class="row">
            <div class="col-sm-3 left-side">
                <div class="controls">
                    <h3>Find Activities</h3>
                    <form (ngSubmit)="GetAllActivities()">
                        <div class="form-group">
                            <input type="text" name="desc" class="form-control input-lg" [ngModel]="Params.title" (ngModelChange)="Params.title = $event" placeholder="Title..">
                        </div>
                        <div class="form-group">
                            <input type="text" name="desc" class="form-control input-lg" [ngModel]="Params.description" (ngModelChange)="Params.description = $event" placeholder="Description..">
                            
                        </div>
                        <div class="form-group">
                            <input type="text" name="desc_location" class="form-control input-withicon input-lg" [ngModel]="Params.address" (ngModelChange)="Params.address = $event" placeholder="Address">
                            <span class="material-icons input-icon">location_on</span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="start" class="form-control input-withicon input-lg" bsDatepicker [bsConfig]="bsConfig" [ngModel]="Params.from_date | date:'yyyy-MM-dd'" (ngModelChange)="Params.from_date = $event" placeholder="From..">
                            <span  class="material-icons input-icon">today</span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="finish" class="form-control input-withicon input-lg" bsDatepicker [bsConfig]="bsConfig" [ngModel]="Params.to_date | date:'yyyy-MM-dd'" (ngModelChange)="Params.to_date = $event" [minDate]="Params.from_date" placeholder="To..">
                            <span class="material-icons input-icon">today</span>
                        </div>
                        <div class="form-group form-group-makeinline">
                            <button type="submit" class="btn btn-success input-withicon btn-lg">Appliquer</button>
                            <span class="material-icons input-icon white-span">search</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-9 left-side">
                <div class="loading" *ngIf="isLoading"></div>
                <div class="cards" *ngIf="!isLoading">
                    <h3>Récentes</h3>
                    <div class="container-fluid">
                        <div *ngFor="let item of Activities" class="col-xs-12 col-sm-6 pull-left">
                            <div class="card bg_cover" [ngStyle]="{'background':'url(' + Images['act'+item.id] + ')'}">
                                <h3 class="cardname">{{item.title}}</h3>
                                <h3 class="carddate">{{item.calendar[0].date | date: "dd MMM"}}</h3>
                                <div class="avatar">
                                    <img class="profile-logo" alt="logo" [src]="Images['user'+item.user_id]?Images['user'+item.user_id]:'./app/images/man.jpg'">
                                    <span class="profile-text">{{Users[item.user_id]?.name?Users[item.user_id]?.name:'Author'}}</span>
                                </div>
                                <span class="cardshadow"></span>
                                <a [routerLink]="['/activity',item.id]"><span class="spanlink"></span></a>
                            </div>
                        </div>
                    </div>

                    <h3>Le Plus Populaire</h3>
                    <div class="container-fluid">
                        <div *ngFor="let item of Activities" class="col-xs-12 col-sm-6 pull-left">
                            <div class="card bg_cover" [ngStyle]="{'background':'url(' + Images['act'+item.id] + ')'}">
                                <h3 class="cardname">{{item.title}}</h3>
                                <h3 class="carddate">{{item.calendar[0].date | date: "dd MMM"}}</h3>
                                <div class="avatar">
                                    <img class="profile-logo" alt="logo" [src]="Images['user'+item.user_id]?Images['user'+item.user_id]:'./app/images/man.jpg'">
                                    <span class="profile-text">{{Users[item.user_id]?.name?Users[item.user_id]?.name:'Author'}}</span>
                                </div>
                                <span class="cardshadow"></span>
                                <a [routerLink]="['/activity',item.id]"><span class="spanlink"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>