<loading-cmp *ngIf="isLoading"></loading-cmp>
<div class="wrapp-for-forms" *ngIf="!isLoading">

    <form (ngSubmit)="ChangePassword(submitFormPswrd)" #submitFormPswrd="ngForm">
        <h6 class="head-form">
            <span>Смена пароля</span>
        </h6>
        <h2 *ngIf="RegistrationErr" class="error-text-style">{{RegErrMsg}}</h2>
        <div class="my-form-groupe">
                <div class="row-inputs">

                        <div class="left-side side">
                            <p>Текущий пароль</p>
                        </div>
                        <div class="right-side side">
                            <input class="input-text-style" mdInput
                            type="password"
                            required
                            #oldpassword="ngModel" minlength="6" name="old_password" [ngModel]="Params.old_password" (ngModelChange)="Params.old_password = $event">
                            <p *ngIf="oldpassword.invalid && oldpassword.touched" class="red-error">Password`s minimum length is 6!</p>
                        </div>
                    </div>
                <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" validateEqual password="password" confirmation="passwordConfirmation">
                 

                    <div class="row-inputs">
                        <div class="left-side side">
                            <p>Новый пароль</p>
                        </div>
                        <div class="right-side side">
                            <input class="input-text-style" mdInput
                            type="password"
                            required
                            #password="ngModel" minlength="6" name="password" [ngModel]="Params.password" (ngModelChange)="Params.password = $event">
                            <p *ngIf="password.invalid && password.touched" class="red-error">Password`s minimum length is 6!</p>
                        </div>
                    </div>

                    <div class="row-inputs">
                        <div class="left-side side">
                            <p>Подтверждение пароля</p>
                        </div>
                        <div class="right-side side">
                            <input class="input-text-style" mdInput
                            type="password"
                            required
                            ngModel name="passwordConfirmation"
                            #passwordConfirmation="ngModel"  minlength="6" [ngModel]="Params.password_confirmation" (ngModelChange)="Params.password_confirmation = $event">
                            <p *ngIf="passwordGroup.invalid && passwordGroup.touched && passwordConfirmation.touched" class="red-error">Password have to be matched!</p>
                        </div>
                    </div>

                </div>  
                <button class="butt-orange" type="submit" [disabled]="!submitFormPswrd.valid">Сменить пароль</button>
                        
            </div> 
    </form>
</div>
    