<loading-cmp *ngIf="isLoading"></loading-cmp>
<div class="sign-in-up-wrapp" *ngIf="!isLoading">
    <div class="for-fixed-bg"></div>
    <div class="middle-line-bg">
        <div class="lang-change">
            <span [ngClass]="{'active': service.GetCurrentLang() == 'ru'}" (click)="SwitchLanguage('ru')">ru</span>
            <span [ngClass]="{'active': service.GetCurrentLang() == 'en'}" (click)="SwitchLanguage('en')">en</span>
        </div>
        <img src="../assets/img/main-logo.svg" class="sign-in-style-logo img-responsive" alt="">
        <div class="body-forms">
            <form (ngSubmit)="TryToLogin()" *ngIf="switchForm">
                <p class="head-text" translate>welcome</p>
                <div *ngIf="isLoginErr" class="col-md-12">
                    <h2 class="error-text-style">Incorrect email or password!</h2>
                </div>
                <input autocomplete="off" class="input-style-transp" type="text" placeholder="Еmail" name="email" [ngModel]="LoginParams.email" (ngModelChange)="LoginParams.email = $event">
                <input autocomplete="off" class="input-style-transp" type="password" placeholder="Пароль" name="pw" [ngModel]="LoginParams.password" (ngModelChange)="LoginParams.password = $event">
                <button class="butt-orange" type="submit">Войти</button>
                <a [routerLink]="['/system','all_coworkings']"  class="butt-orange">Войти как гость</a>
                <span class="forgot-pass" (click)="switchForm = !switchForm">Забыли пароль?</span>
                <div class="for-flex-regist-links">
                    <a [routerLink]="['/system','userRegistration']" class="butt-orange">Регистация</a>
                    <a [routerLink]="['/system','registration']" class="butt-orange">Регистрация коворкинга</a>
                </div>
            </form>
            <form *ngIf="!switchForm">
                <p class="head-text">Восстановление пароля</p>
                <p class="head-text small-size">Введите ваш email, и мы отправим вам инструкции по восстановлению доступа к аккаунту</p>
                <input autocomplete="off" class="input-style-transp" type="text" placeholder="Еmail">
                <button class="butt-orange" type="submit">Восстановить</button>
                <span class="forgot-pass" (click)="switchForm = !switchForm">Я помню пароль</span>
            </form>
        </div>
    </div>
</div>
