<loading-cmp *ngIf="isLoading"></loading-cmp>
<div class="sign-in-up-wrapp" *ngIf="!isLoading">
    <div class="for-fixed-bg"></div>
    <div class="middle-line-bg">
        <div class="lang-change">
            <span [ngClass]="{'active': service.GetCurrentLang() == 'ru'}" (click)="SwitchLanguage('ru')">ru</span>
            <span [ngClass]="{'active': service.GetCurrentLang() == 'en'}" (click)="SwitchLanguage('en')">en</span>
        </div>
        <img src="../assets/img/main-logo.svg" class="sign-in-style-logo img-responsive" alt="">
        <div class="body-forms">
            <form (ngSubmit)="TryToLogin()" *ngIf="switchForm">
                <p class="head-text" translate>welcome</p>
                <div *ngIf="isLoginErr" class="col-md-12">
                    <h2 class="error-text-style" translate>invalidEmailorPsw</h2>
                </div>
                <input autocomplete="off" class="input-style-transp" type="text" [placeholder]="'email' | translate" name="email" [ngModel]="LoginParams.email" (ngModelChange)="LoginParams.email = $event">
                <input autocomplete="off" class="input-style-transp" type="password" placeholder="Пароль" name="pw" [ngModel]="LoginParams.password" (ngModelChange)="LoginParams.password = $event">
                <button class="butt-orange" type="submit" translate>signIn</button>
                <!--<a [routerLink]="['/system','all_coworkings']"  class="butt-orange">Войти как гость</a>-->
                <span class="forgot-pass" (click)="switchForm = !switchForm" translate>forgotPassword</span>
                <a [routerLink]="['/system','registration']" class="butt-orange" translate>cwrkSignUp</a>
                 <!--<div class="for-flex-regist-links">
                   <a [routerLink]="['/system','userRegistration']" class="butt-orange">Регистация</a>
                   
                </div>-->
            </form>
            <form *ngIf="!switchForm">
                <p class="head-text" translate>pswRecovery</p>
                <p class="head-text small-size" translate>instructions</p>
                <input autocomplete="off" class="input-style-transp" type="text" placeholder="Еmail">
                <button class="butt-orange" type="submit" translate>recover</button>
                <span class="forgot-pass" (click)="switchForm = !switchForm" translate>iRemeberPsw</span>
            </form>
        </div>
    </div>
</div>
