<link rel="stylesheet" href="./../../source/css/base.css">
    <link rel="stylesheet" href="./../../source/css/index.css">
    <link rel="stylesheet" href="./../../source/css/search.css">
    <link rel="stylesheet" href="./../../source/css/discover.css">
<right-nav></right-nav>
    <div class="hero">
      <div class="hero-content">
        <h1>Envie de dépenser votre énergie</h1>
        <h2>Trouver une activité autour de vous</h2>
      </div>
    </div>
    <div class="container1440 center-block container-fluid">
        <div class="row">
            <div class="col-sm-3 left-side">
                <div class="controls">
                    <h3>Find Activities</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control input-withicon input-lg" placeholder="Emplacement..">
                            <span class="material-icons input-icon">location_on</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-withicon input-lg" placeholder="Activitées">
                            <span class="material-icons input-icon">favorite</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-withicon input-lg" placeholder="June 23">
                            <span class="material-icons input-icon">today</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-withicon input-lg" placeholder="Recent">
                            <span class="material-icons input-icon">access_time</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-withicon input-lg" placeholder="This is dropdown checkbox">
                            <span class="material-icons input-icon">filter_list</span>
                        </div>
                        <div class="form-group form-group-makeinline">
                            <button type="button" class="btn btn-success input-withicon btn-lg">Appliquer</button>
                            <span class="material-icons input-icon white-span">search</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-9 left-side">
                <div class="cards">
                    <h3>Récentes</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card parashut">
                                    <h3 class="cardname">Parachute au-dessus  de Paris</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">George</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card child">
                                    <h3 class="cardname">Surf à Montpellier</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">Juke</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card parashut">
                                    <h3 class="cardname">Parachute au-dessus  de Paris</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">George</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card surfer">
                                    <h3 class="cardname">Le monde avec une hauteur de Mikhail</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">Michael</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <h3>Le Plus Populaire</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card parashut">
                                    <h3 class="cardname">Parachute au-dessus  de Paris</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">George</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card child">
                                    <h3 class="cardname">Surf à Montpellier</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">Juke</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card parashut">
                                    <h3 class="cardname">Parachute au-dessus  de Paris</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">George</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                            <!--<div class="col-xs-12 col-sm-6">
                                <div class="card surfer">
                                    <h3 class="cardname">Le monde avec une hauteur de Mikhail</h3>
                                    <h3 class="carddate">June 24</h3>
                                    <div class="avatar">
                                        <img class="profile-logo" alt="logo" src="./production/images/man.jpg">
                                        <span class="profile-text">Michael</span>
                                    </div>
                                    <span class="cardshadow"></span>
                                    <a href="activity.html"><span class="spanlink"></span></a>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>