
<div class="row loading" *ngIf="isLoading"></div>
<div *ngIf="!isLoading" class="hero hero--user center-block" [ngStyle]="{'background':'url('+Background+') center no-repeat', 'background-size':'cover'}">
    <div class="row middle">
        <div class="h123 h1-first">
            <h1>{{User.name}}</h1>
        </div>
    </div>
    <!--<div class="hero-content">
    <h1>User.name</h1>
    </div>-->
</div>
    <div *ngIf="!isLoading" class="container-fluid center-block pull-top container700">
        <div class="row">
            <div class="col-xs-12">
                <div class="round-card">
                    <div class="avatar pull-left">
                        <img class="profile-logo" alt="logo" [src]="Logo">
                    </div>
                    <div class="about-org">
                        <h3>{{User.name}}</h3>
                        <p>{{User.description}}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="isMe" class="col-xs-12 container700">
                <ul class="list-inline text-center container700">
                    <li [ngClass]="MenuItem=='bookings'?'active':''">
                        <h2>
                            <span *ngIf="MenuItem=='bookings'">Bookings</span>
                            <a (click)="SetMenuItem('bookings')" *ngIf="MenuItem!='bookings'">Bookings</a>
                        </h2>
                    </li>
                    <li [ngClass]="MenuItem=='activity'?'active':''">
                        <h2>
                            <span *ngIf="MenuItem=='activity'">My Activities</span>
                            <a (click)="SetMenuItem('activity')" *ngIf="MenuItem!='activity'">My Activities</a>
                        </h2>
                    </li>
                    <li [ngClass]="MenuItem=='messages'?'active':''">
                        <h2>
                            <span *ngIf="MenuItem=='messages'">Messages</span>
                            <a (click)="SetMenuItem('messages')" *ngIf="MenuItem!='messages'">Messages</a>
                        </h2>
                    </li>
                    <li [ngClass]="MenuItem=='payments'?'active':''">
                        <h2>
                            <span *ngIf="MenuItem=='payments'">Payments</span>
                            <a (click)="SetMenuItem('payments')" *ngIf="MenuItem!='payments'">Payments</a>
                        </h2>
                    </li>
                    <li [ngClass]="MenuItem=='edit'?'active':''">
                        <h2>
                            <span *ngIf="MenuItem=='edit'">Profile Edit</span>
                            <a (click)="SetMenuItem('edit')" *ngIf="MenuItem!='edit'">Profile Edit</a>
                        </h2>
                    </li>
                </ul>
                <div id="activities" *ngIf="MenuItem=='activity'" class="container-fluid center-block container560">
                        <div class="row loading" *ngIf="ActLoading"></div>
                        <h3 *ngIf="!ActLoading && Activities.length == 0" class="h-center">There are no activities!</h3>
                        <table *ngIf="!ActLoading && Activities.length > 0" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of let item of Activities">
                                    <td><img [src]="ActImages[item.id]"></td>
                                    <td><h4><a [routerLink]="['/activity/' + item.id]">{{item.title}}</a></h4></td>
                                    <td><a class="read-more" [routerLink]="['/edit_act',item.id]">edit</a></td>
                                    <td><a class="read-more" (click)="OnDeleteAct(item)">delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div *ngIf="MenuItem=='edit'" class="container-fluid center-block container560">
                    <div class="form-group width70 marg-auto">
                        <label>Select option</label>
                        <select class="form-control" [ngModel]="ProfileMenu" (ngModelChange)="ProfileMenu = $event">
                            <option value="profile">Edit profile</option>
                            <option value="password">Change password</option>
                        </select>
                    </div>
                    <div class="loading" *ngIf="ProfLoading"></div>
                    <form *ngIf="ProfileMenu == 'password' && !ProfLoading" (ngSubmit)="ChangePw(old_password,new_password)" class="controls-inline">
                        <h2>Change password</h2>
                        <div class="form-group">
                            <label for="old_password">Current password</label>
                            <input type="password" name="old_password" [(ngModel)]="old_password" class="form-control input-withicon input-lg" id="old_password" placeholder="***">
                            <span class="material-icons input-icon">security</span>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New password</label>
                            <input type="password" name="new_password" [(ngModel)]="new_password" class="form-control input-withicon input-lg" id="new_password" placeholder="***">
                            <span class="material-icons input-icon">security</span>
                        </div>
                        <div class="form-group form-group-makeinline">
                            <button type="submit" class="btn btn-success input-withicon btn-lg">Save</button>
                            <span class="material-icons input-icon" style="color: #fff;">save</span>
                        </div>
                    </form>
                    <form *ngIf="ProfileMenu == 'profile' && !ProfLoading" (ngSubmit)="UpdateUser()">
                        <h2>Edit profile</h2>
                        <div class="row">
                            <div class="form-group width70 marg-auto">
                                <label>Email</label>
                                <input type="text" class="form-control input-lg" name="user_email" [ngModel]="UserUpdate.email" (ngModelChange)="UserUpdate.email = $event">
                            </div>
                            <div class="form-group width70 marg-auto">
                                <label>Name</label>
                                <input type="text" class="form-control input-lg" name="user_name" [ngModel]="UserUpdate.name" (ngModelChange)="UserUpdate.name = $event">
                            </div>
                            
                            <div class="form-group width70 marg-auto">
                                <label>Birthday</label>
                                <input type="date" class="form-control input-lg" name="p_birthday" [ngModel]="UserUpdate.date_of_birth | date:'yyyy-MM-dd'" (ngModelChange)="UserUpdate.date_of_birth = $event">
                            </div>
                            <div class="form-group width70 marg-auto">
                                <label>Gender</label>
                                <select name="p_gender" class="form-control" [ngModel]="UserUpdate.gender" (ngModelChange)="UserUpdate.gender = $event">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="form-group width70 marg-auto">
                                <label>Logo image</label>
                                <img [src]='UserUpdate.image'>
                                <input type="file" accept="image/*" name="logo_img" (change)="changeListener('user_logo',$event)">
                            </div>
                            
                            <div class="row" *ngIf="User.user_type == 'professional'">
                                <div class="form-group form-group-makeinline width70 marg-auto">
                                    <label>Address</label>
                                    <input type="text" class="form-control input-lg" name="address" [ngModel]="UserUpdate.address" (ngModelChange)="UserUpdate.address = $event">
                                </div>
                                <div class="form-group form-group-makeinline width70 marg-auto">
                                    <label>Phone</label>
                                    <input type="text" class="form-control input-lg" name="p_phone" [ngModel]="UserUpdate.phone" (ngModelChange)="UserUpdate.phone = $event">
                                </div>
                                <div class="form-group width70 marg-auto">
                                    <label>Photocopy of diploma</label>
                                    <img [src]='UserUpdate.diploma'>
                                    <input type="file"  accept="image/*" name="diploma" (change)="changeListener('diploma',$event)">
                                </div>
                                <div class="form-group width70 marg-auto">
                                    <label>Activity description</label>
                                    <textarea class="form-control" style="height: 135px!important;" name="p_description" [ngModel]="UserUpdate.description" (ngModelChange)="UserUpdate.description = $event" ></textarea>
                                </div>
                                <div class="form-group width70 marg-auto">
                                    <label>Background image</label>
                                    <img [src]='UserUpdate.background'>
                                    <input type="file"  accept="image/*" name="background" (change)="changeListener('background',$event)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-makeinline width70 marg-auto">
                            <button type="submit" class="btn btn-success input-withicon btn-lg">Save</button>
                            <span class="material-icons input-icon" style="color: #fff;">save</span>
                        </div>
                    </form>
                </div>
                <div *ngIf="MenuItem=='payments'" class="container-fluid center-block container560">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <th scope="row">1</th>
                                <td>successfull</td>
                                <td>Event title on date XX.XX.XXXX</td>
                                <td><a routerLink="/more" class="read-more">details</a></td>
                            </tr>
                            <tr class="warning">
                                <th scope="row">2</th>
                                <td>needs attention</td>
                                <td>Event title on date XX.XX.XXXX</td>
                                <td><a routerLink="/more" class="read-more">details</a></td>
                            </tr>
                            <tr class="danger">
                                <th scope="row">3</th>
                                <td>error</td>
                                <td>Event title on date XX.XX.XXXX</td>
                                <td><a routerLink="/more" class="read-more">details</a></td>
                            </tr>
                            <tr class="info">
                                <th scope="row">4</th>
                                <td>ongoing</td>
                                <td>Event title on date XX.XX.XXXX</td>
                                <td><a routerLink="/more" class="read-more">details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="MenuItem=='messages'" class="container-fluid center-block container560">
                    <div class="row loading" *ngIf="ChatsLoading"></div>
                    <h3 *ngIf="!ChatsLoading && ChatList.length == 0" class="h-center">There is no messages!</h3>
                    <table *ngIf="!ChatsLoading && ChatList.length > 0" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Interlocuteur</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ChatList">
                                <td [ngClass]="{'unread':item.has_unread}">{{item.last_date| date: 'dd/MM/yyyy'}}</td>
                                <td [ngClass]="{'unread':item.has_unread}">{{item.last_date| date: 'HH:mm'}}</td>
                                <td [ngClass]="{'unread':item.has_unread}">{{item.name}}</td>
                                
                                <td><a class="read-more" (click)="ReadMessages(item,modal1)">show</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <modal #modal1>
                        <div class="app-modal-header">
                            Chat with <b>{{CurrentChat.name}}</b>
                        </div>
                        <div class="app-modal-body">
                            <div *ngIf="MessOk">
                                <h4 class="ok-msg"> Your message was send to 
                                    <b>{{CurrentChat.name}}</b>
                                </h4>
                            </div>
                            <div *ngIf="MessErr">
                                <h4 class="error-msg">Input body!</h4>
                            </div>
                            <div *ngIf="MesLoading" class="loading max-height200"></div>
                            <div *ngIf="!MesLoading">
                                <div class="chat-history" #scrollMe style="overflow: scroll; height: xyz;">
                                    <h3 *ngIf="!MesLoading && Messages.length == 0" class="h-center">There is no messages!</h3>
                                    <div *ngFor="let item of Messages" class="message_item" [ngClass]="{'my_message':item.from_id == User.id}">
                                        <p class="message_body">{{item.body}}</p>
                                        <p class="message_date">{{item.updated_at | date:'HH:mm, dd/MM/yyyy'}}</p>
                                    </div>
                                </div>
                                <form  (ngSubmit)="SendMessage()">
                                    <div class="form-group">
                                        <textarea name="description" class="form-control input-lg" [ngModel]="Message.body" (ngModelChange)="Message.body = $event"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-success btn-lg" type="submit">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="app-modal-footer">
                            <button type="button" class="btn btn-primary" (click)="modal1.hide()">Cancel</button>
                        </div>
                    </modal>
                </div>
                <div *ngIf="MenuItem=='bookings'" class="container-fluid center-block container560">
                    <div class="form-group width70 marg-auto">
                        <label>Select option</label>
                        <select class="form-control" [ngModel]="BookingsMenu" (ngModelChange)="BookingsTypeChanged($event)">
                            <option value="future">Future</option>
                            <option value="past">Past</option>
                        </select>
                    </div>
                    <h3 *ngIf="!BookingLoading&& Bookings.length == 0" class="h-center">There is no bookings!</h3>
                    <div class="row loading" *ngIf="BookingLoading"></div>
                    <table *ngIf="!BookingLoading && Bookings.length >0" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Dates</th>
                                <th>Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Bookings">
                                <td>{{item.date | date:'M/dd/yyyy'}}</td>
                                <td>{{BookingsActivities[item.activity_id]?.title}}</td>
                                <td><a class="read-more" [routerLink]="['/activity',item.activity_id]">more</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-10 marg-auto left-side">
    <div class="cards" *ngIf="!isLoading && Activities.length > 0">
            <h3 class="h-center">User's activities</h3>
            <div class="container-fluid">
                <div *ngFor="let item of Activities" class="col-xs-12 col-sm-6 pull-left">
                    <div class="card bg_cover" [ngStyle]="{'background':'url(' + ActImages[item.id] + ')'}">
                        <h3 class="cardname">{{item.title.slice(0,30)}}</h3>
                        <h3 class="carddate">{{item.calendar[0].date | date: "dd MMM"}}</h3>
                        <div class="avatar">
                            <img class="profile-logo" alt="logo" [src]="Logo?Logo:'./app/images/man.jpg'">
                            <span class="profile-text">{{User.short_name?User.short_name:User.name.slice(0,6)}}</span>
                        </div>
                        <span class="cardshadow"></span>
                        <a [routerLink]="['/activity',item.id]"><span class="spanlink"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
