@charset "UTF-8";
@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSansRegular.eot);
  src: local("☺"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSansSemiBold.eot);
  src: local("☺"), url("../fonts/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/RobotoMedium.eot);
  src: local("☺"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: OpenSansRegular; }

html, body {
  height: 100%; }

.wrapper {
  height: 100%; }

.input-style-transp {
  max-width: 250px;
  width: 100%;
  border-radius: 50px;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  padding: 12px 0;
  text-align: center;
  outline: none; }

.butt-orange {
  max-width: 275px;
  width: 100%;
  border-radius: 50px;
  display: block;
  margin: 20px auto;
  background-color: #FF8026;
  padding: 12px 0;
  text-align: center;
  outline: none;
  color: #fff;
  font-size: 14px;
  border: none;
  line-height: 26px; }

.input-text-style {
  outline: none;
  background: transparent;
  padding: 7px 5px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  min-width: 350px; }

.forgot-pass {
  font-size: 14px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: block; }
  .forgot-pass:hover {
    color: #FF8026; }

.head-form {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .head-form:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background: #FF8026; }
  .head-form span {
    position: relative;
    z-index: 10;
    display: block;
    padding: 10px 35px;
    background: #fff;
    font-size: 14px;
    font-family: OpenSansSemiBold; }

.wrapp-for-forms {
  max-width: 825px;
  margin: 0 auto;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  overflow: hidden;
  padding: 35px 25px; }
  .wrapp-for-forms .avatar-img {
    width: 250px;
    height: 250px;
    margin: 0 auto 10px auto;
    border: 8px solid #eeeeee;
    background-color: #eee;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative; }
  .wrapp-for-forms .file_upload {
    cursor: pointer;
    text-align: center;
    font-family: OpenSansSemiBold;
    margin: 0 auto 50px auto;
    display: block;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .wrapp-for-forms .file_upload:hover {
      color: #FF8026; }
    .wrapp-for-forms .file_upload label {
      text-align: center;
      cursor: pointer; }
    .wrapp-for-forms .file_upload input {
      width: 0;
      height: 0;
      overflow: hidden;
      display: block; }

.files_upload {
  display: block;
  outline: none;
  cursor: pointer; }
  .files_upload input {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block; }

.photos-wrapp .photos {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .photos-wrapp .photos .one-photo {
    width: 20%;
    padding: 5px; }
  .photos-wrapp .photos .for-hover {
    position: relative;
    height: 100px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .photos-wrapp .photos .for-hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background: #fff;
      top: 50%;
      -webkit-transform: translate(-50%) rotate(0);
              transform: translate(-50%) rotate(0);
      -webkit-transform-origin: center;
              transform-origin: center;
      left: 50%;
      opacity: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .photos-wrapp .photos .for-hover:after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background: #fff;
      top: 50%;
      -webkit-transform: translate(-50%) rotate(0);
              transform: translate(-50%) rotate(0);
      -webkit-transform-origin: center;
              transform-origin: center;
      left: 50%;
      opacity: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .photos-wrapp .photos .for-hover:hover {
      -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
      .photos-wrapp .photos .for-hover:hover:before {
        opacity: 1;
        -webkit-transform: translate(-50%) rotate(45deg);
                transform: translate(-50%) rotate(45deg); }
      .photos-wrapp .photos .for-hover:hover:after {
        opacity: 1;
        -webkit-transform: translate(-50%) rotate(-45deg);
                transform: translate(-50%) rotate(-45deg); }

.head-my-form-groupe {
  text-align: center;
  margin-bottom: 25px; }

.my-form-groupe {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .my-form-groupe .row-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: 64px;
    font-size: 14px; }
    .my-form-groupe .row-inputs:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12); }

.change-all-data .my-form-groupe .row-inputs .left-side {
  width: 20%; }
.change-all-data .my-form-groupe .row-inputs .right-side {
  width: 80%; }
  .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data p {
      margin-right: 10px;
      margin-bottom: 0;
      width: 350px;
      text-align: right; }
    .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data span {
      font-size: 12px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data span:hover {
        color: #FF8026; }
      .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data span.change {
        text-transform: uppercase; }
      .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data span.save {
        color: #417505; }
        .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data span.save:hover {
          color: #FF8026; }
    .change-all-data .my-form-groupe .row-inputs .right-side .div-for-change-data .input-text-style {
      margin-right: 10px; }

.setting-1 {
  padding: 16px 0;
  background: #fafafa;
  margin-bottom: 50px;
  position: relative; }
  .setting-1:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
    width: 1000px;
    height: 100%;
    background: #fafafa; }
  .setting-1 p {
    margin: 0;
    font-size: 14px;
    margin-right: 20px; }
  .setting-1 .for-relative {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 10; }

.mac-checkbox .checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 0;
  height: 0; }
.mac-checkbox .checkbox + label {
  cursor: pointer; }
.mac-checkbox .checkbox:not(checked) {
  position: absolute;
  opacity: 0; }
.mac-checkbox .checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px; }
.mac-checkbox .checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0.26);
  -webkit-transition: 0.2s;
  transition: 0.2s; }
.mac-checkbox .checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.26);
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
.mac-checkbox .checkbox:checked + label:before {
  background: #FF8026; }
.mac-checkbox .checkbox:checked + label:after {
  left: 26px;
  background: #fff; }
.mac-checkbox.big .checkbox:not(checked) + label:before {
  width: 76px;
  height: 40px;
  border-radius: 100px; }
.mac-checkbox.big .checkbox:not(checked) + label:after {
  width: 36px;
  height: 36px;
  border-radius: 50%; }
.mac-checkbox.big .checkbox:checked + label:after {
  left: 38px; }

.orange-checkbox .checkbox {
  width: 0;
  height: 0; }
.orange-checkbox label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  position: relative;
  top: -2px;
  cursor: pointer; }
.orange-checkbox .checkbox:checked + label {
  background-color: #FF8026;
  border-color: #FF8026;
  background-image: url(../img/checked.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat; }

.my-form-groupe-2 {
  position: relative;
  max-width: 650px;
  margin: 0 auto 50px auto; }
  .my-form-groupe-2:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(64% + 20px);
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.12); }
  .my-form-groupe-2 .one-day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .my-form-groupe-2 .one-day .left-side-t {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 64.00%; }
      .my-form-groupe-2 .one-day .left-side-t .add-day {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .my-form-groupe-2 .one-day .left-side-t .add-day .orange-checkbox {
          margin-right: 20px; }
      .my-form-groupe-2 .one-day .left-side-t .inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .my-form-groupe-2 .one-day .left-side-t .inputs .input-time-style {
          outline: none;
          padding: 10px 0;
          display: block;
          width: 100px;
          border: none;
          background: #fff;
          border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
          text-align: right; }
        .my-form-groupe-2 .one-day .left-side-t .inputs span {
          padding: 0 15px; }
        .my-form-groupe-2 .one-day .left-side-t .inputs.checked-day .input-time-style {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .my-form-groupe-2 .one-day .right-side-mac-chec {
      width: 36.00%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .my-form-groupe-2 .one-day .right-side-mac-chec p {
        margin: 0;
        margin-right: 20px; }

.my-form-groupe-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px; }
  .my-form-groupe-3 .one-nishtyaki {
    margin-bottom: 16px;
    width: 50%;
    padding-right: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .my-form-groupe-3 .one-nishtyaki p {
      margin: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.lang-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .lang-change span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .lang-change span:hover {
      background-color: #FAFAFA; }
    .lang-change span.active {
      color: #FF7F25; }

.sign-in-up-wrapp {
  height: 100%; }
  .sign-in-up-wrapp .sign-in-style-logo {
    max-width: 162px;
    margin: 0 auto 10px auto; }
  .sign-in-up-wrapp .for-fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-image: url(../img/bg-sign-in.png);
    background-position: center;
    background-size: cover; }
  .sign-in-up-wrapp .middle-line-bg {
    position: relative;
    z-index: 5;
    min-height: 100%;
    width: 610px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .sign-in-up-wrapp .body-forms {
    margin-bottom: 60px; }
    .sign-in-up-wrapp .body-forms form {
      max-width: 375px;
      margin: 0 auto; }
    .sign-in-up-wrapp .body-forms .head-text {
      margin-bottom: 25px;
      font-size: 20px;
      text-align: center; }
      .sign-in-up-wrapp .body-forms .head-text.small-size {
        font-size: 14px; }

.side-bar-wr {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  z-index: 10;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ea6d34), to(#f73a3c));
  background: linear-gradient(180deg, #ea6d34, #f73a3c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px; }
  .side-bar-wr .top ul {
    margin: 0;
    list-style: none; }
    .side-bar-wr .top ul li {
      position: relative; }
      .side-bar-wr .top ul li a {
        display: block;
        width: 100%;
        height: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 15;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .side-bar-wr .top ul li a img {
          -ms-flex-negative: 0;
              flex-shrink: 0;
          width: 100%;
          max-width: 24px;
          cursor: pointer;
          position: relative;
          z-index: 15; }
      .side-bar-wr .top ul li.active {
        background: rgba(0, 0, 0, 0.12); }
      .side-bar-wr .top ul li:hover .hover-tool {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0);
                transform: translateY(-50%) translateX(0);
        -webkit-transition: opacity 0.7s, -webkit-transform 0.3s;
        transition: opacity 0.7s, -webkit-transform 0.3s;
        transition: transform 0.3s, opacity 0.7s;
        transition: transform 0.3s, opacity 0.7s, -webkit-transform 0.3s; }
      .side-bar-wr .top ul li .hover-tool {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-100%);
                transform: translateY(-50%) translateX(-100%);
        z-index: 5;
        left: calc(100% + 10px);
        background: #1C1C1B;
        padding: 9px 15px;
        border-radius: 4px;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s; }
        .side-bar-wr .top ul li .hover-tool:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: -6px;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3.5px 7px 3.5px 0;
          border-color: transparent #1c1c1b transparent transparent; }
        .side-bar-wr .top ul li .hover-tool p {
          white-space: nowrap;
          color: #fff;
          font-size: 10px;
          font-family: OpenSansSemiBold;
          position: relative;
          z-index: 10; }
  .side-bar-wr .bottom .gear-wrapp {
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 15;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .side-bar-wr .bottom .gear-wrapp img {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 100%;
      max-width: 24px;
      cursor: pointer;
      position: relative;
      z-index: 15; }
    .side-bar-wr .bottom .gear-wrapp.active {
      background: rgba(0, 0, 0, 0.12); }
    .side-bar-wr .bottom .gear-wrapp:hover {
      background: rgba(0, 0, 0, 0.12); }

.main-panel {
  padding-left: 65px; }

.navigation {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA; }
  .navigation .nav-logo {
    max-width: 150px; }
  .navigation .right-side .sign-menu-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding-right: 20px;
    margin: 0; }
    .navigation .right-side .sign-menu-wr li a {
      font-size: 14px;
      display: block;
      cursor: pointer;
      color: #000;
      padding: 24px 15px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .navigation .right-side .sign-menu-wr li a:hover {
        background: #fff; }
    .navigation .right-side .sign-menu-wr li.active a {
      color: #FF8026; }
  .navigation .right-side .ava-and-settings {
    position: relative;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #FAFAFA;
    border-bottom: none;
    background: #FAFAFA; }
    .navigation .right-side .ava-and-settings p {
      margin-right: 16px;
      margin-bottom: 0; }
    .navigation .right-side .ava-and-settings .ava-wr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #FAFAFA;
      position: relative;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      z-index: 50;
      padding: 16px 20px 16px 55px;
      transition: 0.3s; }
      .navigation .right-side .ava-and-settings .ava-wr .ava {
        width: 40px;
        height: 40px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 50%;
        background: #FAFAFA;
        background-size: cover;
        background-position: center; }
    .navigation .right-side .ava-and-settings .drop-d {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 1px solid #EEEEEE;
      border-top: none;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      z-index: 25;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
      .navigation .right-side .ava-and-settings .drop-d .my-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        background: #FAFAFA;
        position: relative;
        padding: 16px 20px 16px; }
        .navigation .right-side .ava-and-settings .drop-d .my-row:hover p {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          color: #FF8026; }
        .navigation .right-side .ava-and-settings .drop-d .my-row .settings {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .navigation .right-side .ava-and-settings .drop-d .my-row .image {
          width: 40px;
          height: 40px;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .navigation .right-side .ava-and-settings .drop-d .my-row .image img {
            -ms-flex-negative: 0;
                flex-shrink: 0; }
        .navigation .right-side .ava-and-settings .drop-d .my-row.exit-wr {
          background: #fff; }
    .navigation .right-side .ava-and-settings:hover {
      background: #fff;
      border: 1px solid #EEEEEE;
      border-bottom: none; }
      .navigation .right-side .ava-and-settings:hover .ava-wr {
        background: #fff; }
      .navigation .right-side .ava-and-settings:hover .drop-d {
        -webkit-transform: translate(0);
                transform: translate(0);
        opacity: 1; }

.all-statistics {
  padding: 30px 0; }
  .all-statistics .statistics {
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #EEEEEE; }
  .all-statistics .statistics-info {
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    margin-bottom: 24px;
    cursor: pointer; }
    .all-statistics .statistics-info p {
      margin: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .all-statistics .statistics-info:hover .count {
      color: #FF8026; }
    .all-statistics .statistics-info .count {
      font-size: 56px; }
    .all-statistics .statistics-info .what-is-it {
      font-size: 16px; }

.for-flex-regist-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .for-flex-regist-links .butt-orange {
    margin-left: 5px;
    font-size: 12px;
    padding: 8px 0; }
    .for-flex-regist-links .butt-orange:first-child {
      margin-left: 0;
      margin-right: 5px; }

.all-coworkings {
  padding: 30px 0; }
  .all-coworkings .search-form {
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #EEEEEE; }
  .all-coworkings .map {
    height: 300px;
    border: 1px solid red; }
  .all-coworkings .all-coworkings-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 10px;
    border: 1px solid #EEEEEE; }
    .all-coworkings .all-coworkings-flex .one-cowork-wr {
      padding: 15px;
      width: 33.33%; }
      .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork {
        position: relative;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2); }
        .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork:hover .description .name-c {
          color: #FF8026; }
        .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork .spanlink {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block; }
        .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork .img-cowork {
          height: 200px;
          background-size: cover;
          background-position: center;
          background-image: url(../img/bg-sign-in.png);
          border-bottom: 4px solid #FF8026; }
        .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork .description {
          padding: 10px 15px;
          font-size: 14px; }
          .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork .description .name-c {
            margin-bottom: 15px;
            font-size: 16px;
            font-family: OpenSansSemiBold;
            -webkit-transition: 0.3s;
            transition: 0.3s; }
          .all-coworkings .all-coworkings-flex .one-cowork-wr .one-cowork .description .flex-price {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 15px; }

.flex-time-working {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .flex-time-working .one-day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .flex-time-working .one-day:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
    .flex-time-working .one-day p {
      margin-bottom: 0; }

.description-coworking-wr .description-coworking p {
  margin-bottom: 15px; }

.flex-pluhi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px; }
  .flex-pluhi span {
    display: block;
    padding: 0 20px;
    margin-bottom: 10px; }

.slider-images-coworking-wr {
  margin-bottom: 30px; }
  .slider-images-coworking-wr .one-slide {
    outline: none;
    height: 300px;
    background-size: cover;
    background-position: center; }
  .slider-images-coworking-wr .slick-arrow {
    display: block;
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 0;
    border-radius: 50%;
    background-color: #FF8026;
    background-repeat: no-repeat;
    background-position: center;
    top: calc(50% - 7px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-size: 30px; }
    .slider-images-coworking-wr .slick-arrow:hover {
      opacity: 1;
      -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4); }
    .slider-images-coworking-wr .slick-arrow.slick-prev {
      left: 10px;
      background-image: url(../img/back.svg);
      background-position: center left 8px; }
    .slider-images-coworking-wr .slick-arrow.slick-next {
      right: 10px;
      background-image: url(../img/next.svg);
      background-position: center right 8px; }
  .slider-images-coworking-wr .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .slider-images-coworking-wr .slick-dots li {
      padding: 0 10px; }
      .slider-images-coworking-wr .slick-dots li button {
        font-size: 0;
        display: block;
        background: #eeeeee;
        width: 12px;
        height: 12px;
        border: none;
        outline: none;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .slider-images-coworking-wr .slick-dots li.slick-active button {
        background: #FF8026; }

.booking-user-wr .my-form-groupe-2 {
  margin: 0 auto 70px auto; }
  .booking-user-wr .my-form-groupe-2 .for-data-picker {
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    outline: none; }
  .booking-user-wr .my-form-groupe-2:before {
    display: none; }
  .booking-user-wr .my-form-groupe-2 .one-day .left-side-t {
    width: 100%; }

.all-coworkings .my-booking-user {
  padding: 0 15px; }
  .all-coworkings .my-booking-user .row {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .all-coworkings .my-booking-user .row:first-child p {
      font-family: OpenSansSemiBold; }
    .all-coworkings .my-booking-user .row:nth-child(odd) {
      background: #FAFAFA; }
    .all-coworkings .my-booking-user .rowfirst-child {
      padding-bottom: 15px; }
    .all-coworkings .my-booking-user .row .open {
      color: #FF8026; }
    .all-coworkings .my-booking-user .row .delete-booking {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #FF8026;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .all-coworkings .my-booking-user .row .delete-booking:before {
        content: "";
        display: block;
        width: 14px;
        height: 1px;
        background: #FF8026; }

.agreement .text {
  padding: 50px 0; }
  .agreement .text h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #FF8026; }
  .agreement .text p {
    font-size: 14px; }
.agreement .agree-disagree-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .agreement .agree-disagree-wr .agree {
    margin-right: 25px; }
  .agreement .agree-disagree-wr button {
    padding: 10px 25px; }
    .agreement .agree-disagree-wr button.disagree-butt {
      background: #f73a3c; }

.pich-the-date-for-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  padding: 20px 0 40px 0;
  max-width: 500px;
  margin: 0 auto; }
  .pich-the-date-for-stat .head-form {
    margin-bottom: 0; }
  .pich-the-date-for-stat input {
    padding: 7px 5px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    outline: none;
    width: 150px;
    margin: 0 auto; }

.coworking-stat-main-wrapp {
  padding: 20px 0 20px 20px; }
  .coworking-stat-main-wrapp .time-line-wr {
    padding-left: 75px; }
    .coworking-stat-main-wrapp .time-line-wr .time-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .coworking-stat-main-wrapp .time-line-wr .time-line .time {
        position: relative;
        width: 8.33%;
        padding-bottom: 50px;
        font-size: 12px;
        font-family: RobotoMedium;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .coworking-stat-main-wrapp .time-line-wr .time-line .time .dots {
          position: absolute;
          bottom: 0;
          height: 20px;
          width: 0;
          border-right: 1px dashed rgba(0, 0, 0, 0.12); }
          .coworking-stat-main-wrapp .time-line-wr .time-line .time .dots.dot-1 {
            height: 40px;
            left: 0; }
          .coworking-stat-main-wrapp .time-line-wr .time-line .time .dots.dot-2 {
            left: 25%; }
          .coworking-stat-main-wrapp .time-line-wr .time-line .time .dots.dot-3 {
            left: 50%; }
          .coworking-stat-main-wrapp .time-line-wr .time-line .time .dots.dot-4 {
            left: 75%; }
        .coworking-stat-main-wrapp .time-line-wr .time-line .time p {
          position: relative;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          margin-bottom: 0; }
  .coworking-stat-main-wrapp .all-places-book .one-place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .coworking-stat-main-wrapp .all-places-book .one-place:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
    .coworking-stat-main-wrapp .all-places-book .one-place .number {
      width: 75px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: RobotoMedium;
      font-size: 16px;
      border-right: 1px solid rgba(0, 0, 0, 0.12); }
    .coworking-stat-main-wrapp .all-places-book .one-place .place-info {
      width: 100%;
      position: relative;
      height: 80px; }
      .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state {
        position: absolute;
        top: 0;
        height: 100%;
        background: #eef0f2;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 12px 16px; }
        .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state.started {
          background: #e5f6d2; }
        .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state.finished {
          background: #f6ccd1; }
        .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state .from {
          font-family: RobotoMedium;
          font-size: 12px; }
        .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state .to {
          font-family: RobotoMedium;
          font-size: 12px; }
        .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state .who-is-it {
          padding: 0 10px; }
          .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state .who-is-it .ava {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FAFAFA;
            background-size: cover;
            background-position: center;
            border: 1px solid #eeeeee;
            margin: 0 auto 5px auto; }
          .coworking-stat-main-wrapp .all-places-book .one-place .place-info .one-user-state .who-is-it .name {
            font-size: 11px; }

.add-new-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  background: #FAFAFA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  .add-new-place:hover .butt-for-add p {
    color: #FF8026; }
  .add-new-place .butt-for-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .add-new-place .butt-for-add img {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 10px; }
    .add-new-place .butt-for-add p {
      font-size: 14px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.nav-holder-3 {
  overflow-y: auto; }

.menu-close {
  margin: 0;
  width: auto;
  display: block;
  position: absolute;
  top: 24px;
  left: 20px;
  outline: none; }

.mask-nav-3 {
  background-color: white; }

.likeDislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.like {
  width: 20px;
  height: 20px;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: top -19px left 1px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none; }

.dislike {
  width: 20px;
  height: 20px;
  background-image: url(../img/dislike.png);
  background-repeat: no-repeat;
  background-position: top -25px left 1px;
  position: relative;
  cursor: pointer;
  top: 5px;
  background-color: transparent;
  border: none; }

.dislike:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/dislike.png);
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  background-repeat: no-repeat;
  background-position: top 1px left 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.like:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/like.png);
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  background-repeat: no-repeat;
  background-position: top 1px left 0px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

button {
  outline: none; }

.like:hover:before {
  opacity: 1; }

.like.checked-rate:before {
  opacity: 1; }

.dislike.checked-rate:before {
  opacity: 1; }

.dislike:hover:before {
  opacity: 1; }

.nav-holder-3 {
  width: 405px;
  padding: 0;
  left: auto;
  right: 0;
  -webkit-transform: translateX(405px);
  transform: translateX(405px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-holder-3 .midd {
    width: 100%; }
    .nav-holder-3 .midd .ava {
      width: 175px;
      height: 175px;
      margin: 0 auto 15px auto;
      border: 4px solid #eeeeee;
      background-color: #eee;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      position: relative; }
    .nav-holder-3 .midd .name {
      font-size: 24px;
      text-align: center;
      margin-bottom: 50px; }
    .nav-holder-3 .midd .time-show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 7px 0;
      background: #FAFAFA;
      margin-bottom: 50px; }
      .nav-holder-3 .midd .time-show div {
        width: 50%; }
        .nav-holder-3 .midd .time-show div p {
          margin: 0;
          font-size: 24px;
          text-align: center; }
          .nav-holder-3 .midd .time-show div p:first-child {
            font-size: 14px; }

/*# sourceMappingURL=style.css.map */