@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSansRegular.eot);
    src: local('☺'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSansSemiBold.eot);
    src: local('☺'), url('../fonts/OpenSansSemiBold.woff') format('woff'), url('../fonts/OpenSansSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/RobotoMedium.eot);
    src: local('☺'), url('../fonts/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$main_color : #FF8026;

body{
    font-family: OpenSansRegular;
}

html,body{
    height: 100%;
}
.wrapper{
    height: 100%;
}


.input-style-transp{
    max-width: 250px;
    width: 100%;
    border-radius: 50px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid rgba(0,0,0,0.12);
    background-color: transparent;
    padding: 12px 0;
    text-align: center;
    outline: none;
}

.butt-orange{
    max-width: 275px;
    width: 100%;
    border-radius: 50px;
    display: block;
    margin: 20px auto;
    background-color: $main_color;
    padding: 12px 0;
    text-align: center;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    line-height: 26px;
    
}
.input-text-style{
    outline: none;
    background: transparent;
    padding: 7px 5px;
    border-radius: 2px;
     border: 1px solid rgba(0,0,0,0.12);
    display: block;
    min-width: 350px;
}


.forgot-pass{
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    display: block;
    &:hover{
        color: $main_color;
    }
}
.head-form{
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 4px;
        background: $main_color;
        
    }
    span{
        position: relative;
        z-index: 10;
        display: block;
        padding: 10px 35px;
        background: #fff;
        font-size: 14px;
        font-family: OpenSansSemiBold;
    }
}


.wrapp-for-forms{
    max-width: 825px;
    margin: 0 auto;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    overflow: hidden;
    padding: 35px 25px;
    .avatar-img{
        width: 250px;
        height: 250px;
        margin: 0 auto 10px auto;
        border: 8px solid #eeeeee;
        background-color: #eee;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        position: relative;
        
    }
    .file_upload{
        cursor: pointer;
        text-align: center;
        font-family: OpenSansSemiBold;
        margin: 0 auto 50px auto;
        display: block;
        overflow: hidden;
        transition: 0.3s;
        &:hover{
            color: $main_color;
        }
        label{
            text-align: center;
            cursor: pointer;
        }
        input{
            width: 0;
            height: 0;
            overflow: hidden;
            display: block;
        
            
        }
    }
}



.files_upload{
    display: block;
    outline: none;
    cursor: pointer;
    input{
        width: 0;
        height: 0;
        overflow: hidden;
        display: block;
    }
}

.photos-wrapp{
    .photos{
        padding: 30px 0;
        display: flex;
        .one-photo{
            width: 20%;  
            padding: 5px;
        }
        .for-hover{
           position: relative;
            height: 100px;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: 0.3s;
            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 50px;
                height: 3px;
                background: #fff;
                top: 50%;
                transform: translate(-50%) rotate(0);
                transform-origin: center;
                left: 50%;
                opacity: 0;
                transition: 0.3s;
                
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                width: 50px;
                height: 3px;
                background: #fff;
                top: 50%;
                transform: translate(-50%) rotate(0);
                transform-origin: center;
                left: 50%;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover{
                -webkit-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
                -moz-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
                -ms-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
                -o-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
                box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
                &:before{
                    opacity: 1;
                    transform: translate(-50%) rotate(45deg);
                }
                &:after{
                    opacity: 1;
                    transform: translate(-50%) rotate(-45deg);
                }
            }
        }
    }
}














.head-my-form-groupe{
    text-align: center;
    margin-bottom: 25px;
}
.my-form-groupe{
    max-width: 580px;
    margin:  0 auto;
    margin-bottom: 50px;
    .row-inputs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        min-height: 64px;
        font-size: 14px;
        &:first-child{
            border-top: 1px solid rgba(0,0,0,0.12);
        }
        
        
    }
}

.change-all-data{
    .my-form-groupe{
        .row-inputs{
            .left-side{
                width: 20%;
            }
            .right-side{
                width: 80%;
                .div-for-change-data{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        margin-right: 10px;
                        margin-bottom: 0;
                        width: 350px;
                        text-align: right;
                        
                        
                    }
                    span{
                        font-size: 12px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover{
                            color: $main_color;
                        }
                        &.change{
                            text-transform: uppercase;
                            
                        }
                        &.save{
                            color: #417505;
                             &:hover{
                                color: $main_color;
                            }
                        }
                    }
                    .input-text-style{
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}




.setting-1{
    
    padding: 16px 0;
    background: #fafafa;
    margin-bottom: 50px;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -50px;
        width: 1000px;
        height: 100%;
        background: #fafafa;
        
    }
    p{
        margin: 0;
        font-size: 14px;
        margin-right: 20px;
    }
    .for-relative{
        display: flex;
    align-items: center;
    justify-content: center;
        position: relative;
        z-index: 10;
    }
}

.mac-checkbox{
    .checkbox {
      vertical-align: top;
      margin: 0 3px 0 0;
      width: 0;
      height: 0;
        
    }

    .checkbox + label {
      cursor: pointer;
    }

    .checkbox:not(checked) {
      position: absolute;
      opacity: 0;
    }
    .checkbox:not(checked) + label {
      position: relative; 
      padding: 0 0 0 60px; 
    }

    .checkbox:not(checked) + label:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 50px;
      height: 26px;
      border-radius: 13px;
      background: #fff;
        transform:translateY(-50%);
        border: 1px solid rgba(0,0,0,0.26);
        transition: 0.2s;
    }

    .checkbox:not(checked) + label:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 2px;
      width: 22px;
      height: 22px;
      border-radius: 10px;
      background: rgba(0,0,0,0.26);
      transition: all .2s;
        transform:translateY(-50%);
        
    }

    .checkbox:checked + label:before {
      background: $main_color;
    }

    .checkbox:checked + label:after {
        left: 26px;
        background: #fff;
    }
    &.big{
        .checkbox:not(checked) + label:before {
            width: 76px;
            height: 40px;
            border-radius: 100px;
        }
        .checkbox:not(checked) + label:after {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        .checkbox:checked + label:after {
            left: 38px;
        }
    }
}
.orange-checkbox{
    .checkbox{
        width: 0;
        height: 0;
        
    }
    label{
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
       border: 2px solid rgba(0,0,0,0.26);
        position: relative;
        top: -2px;
        cursor: pointer;
    }
    .checkbox:checked + label{
      background-color: $main_color;
        border-color: $main_color;
        background-image: url(../img/checked.svg);
        background-position: center;
        background-size: 16px;
        background-repeat: no-repeat;
        
    }
}



.my-form-groupe-2{
    position: relative;
    max-width: 650px;
    margin: 0 auto 50px auto;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: calc(64% + 20px);
        height: 100%;
        width: 1px;
        background: rgba(0,0,0,0.12);
    }
    .one-day{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .left-side-t{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 64.00%;
            .add-day{
                display: flex;
                align-items: center;
                .orange-checkbox{
                    margin-right: 20px;
                }
            }
            .inputs{
                display: flex;
                align-items: center;
                
                .input-time-style{
                    outline: none;
                    padding: 10px 0;
                    display: block;
                    width: 100px;
                   
                    border: none;
                    background: #fff;
                    border-bottom: 1px dashed rgba(0,0,0,0.12);
                    text-align: right;
                }
                span{
                    padding: 0 15px;
                }
                &.checked-day{
                    .input-time-style{
                        border-bottom: 1px solid rgba(0,0,0,0.12);
                    }
                }
            }
        }
        .right-side-mac-chec{
            width: 36.00%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p{
                margin: 0;
                margin-right: 20px;
            }
        }
    }
}

.my-form-groupe-3{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .one-nishtyaki{
         margin-bottom: 16px;
        width: 50%;
        padding-right: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin: 0;
        }
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}













.lang-change{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            background-color: #FAFAFA;
        }
        &.active{
            color: #FF7F25;
        }
    }
}

.sign-in-up-wrapp{
    height: 100%;
    .sign-in-style-logo{
        max-width: 162px;
        margin: 0 auto 10px auto;
    }
    .for-fixed-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
         min-height: 100%;
        background-image: url(../img/bg-sign-in.png);
        background-position: center;
        background-size: cover;
    }
    .middle-line-bg{
        position: relative;
        z-index: 5;
        min-height: 100%;
        width: 610px;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.95);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
    }
    .body-forms{
        margin-bottom: 60px;
        form{
            max-width: 375px;
            margin: 0 auto;
        }
        .head-text{
            margin-bottom: 25px;
            font-size: 20px;
            text-align: center;
            &.small-size{
                font-size: 14px;
            }
        }
    }
    
}

.side-bar-wr{
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    z-index: 10;
    height: 100%;
    background: linear-gradient(180deg, #ea6d34, #f73a3c);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    .top{
        ul{
            margin: 0;
            list-style: none;
            li{
                position: relative;
                a{
                    display: block;
                    width: 100%;
                    height: 65px;
                    display: flex;
                    z-index: 15;
                    align-items: center;
                    justify-content: center;
                    img{
                        flex-shrink: 0;
                        width: 100%;
                        max-width: 24px;
                        cursor: pointer;
                        position: relative;
                        z-index: 15;
                    }
                }
                &.active{
                    background: rgba(0,0,0,0.12);
                }
                &:hover{
                    .hover-tool{
                        opacity: 1;
                        transform: translateY(-50%) translateX(0);
                        transition:transform 0.3s, opacity 0.7s;
                    } 
                }
                .hover-tool{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(-100%);
                    z-index: 5;
                    left: calc(100% + 10px);
                    background: #1C1C1B;
                    padding: 9px 15px;
                    border-radius: 4px;
                    opacity: 0;
                    transition: transform 0.3s;
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -6px;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 3.5px 7px 3.5px 0;
                        border-color: transparent #1c1c1b transparent transparent;

                    }
                    p{
                        white-space: nowrap;
                        color: #fff;
                        font-size: 10px;
                        font-family: OpenSansSemiBold;
                        position: relative;
                        z-index: 10;
                    }
                }
            }
        }
    }
    .bottom{
        .gear-wrapp{
            width: 100%;
            height: 65px;
            display: flex;
            z-index: 15;
            transition: 0.3s;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                flex-shrink: 0;
                width: 100%;
                max-width: 24px;
                cursor: pointer;
                position: relative;
                z-index: 15;
            }
             &.active{
                background: rgba(0,0,0,0.12);
            }
            &:hover{
                background: rgba(0,0,0,0.12); 
            }
        }
    }
}
.main-panel{
    padding-left: 65px;
    
}
.navigation{
    padding: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    .nav-logo{
        max-width: 150px;
    }
    .right-side{
        
        .sign-menu-wr{
            display: flex;
            align-items: center;
            list-style: none;
            padding-right: 20px;
            margin: 0;
            li{
                a{
                    font-size: 14px;
                    display: block;
                    cursor: pointer;
                    color: #000;
                    padding: 24px 15px;
                    transition: 0.3s;
                    &:hover{
                        background: #fff;
                    }
                }
                &.active{
                    a{
                        color: $main_color;
                        
                    }
                }
            }
        }
        .ava-and-settings{
            position: relative;
            font-size: 14px;
            cursor: pointer;
            border: 1px solid #FAFAFA;
            border-bottom: none;
            
            background: #FAFAFA;
            p{
                margin-right: 16px;
                margin-bottom: 0; 
            }
            .ava-wr{
                display: flex;
                align-items: center;
                background: #FAFAFA;
                position: relative;
             
                transition: 0.3s;
                z-index: 50;
                padding: 16px 20px 16px 55px;
                transition: 0.3s;
               
                .ava{
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background:#FAFAFA;
                    background-size: cover;
                    background-position: center;
                    
                }
            }
            .drop-d{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                border: 1px solid #EEEEEE;
                border-top: none;
                transition: 0.3s;
                opacity: 0;
                z-index: 25;
                transform: translateY(-100%);
                .my-row{
                    &:hover{
                        p{
                            transition: 0.3s;
                            color: $main_color;
                        }
                    }
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background: #FAFAFA;
                    position: relative;
                    padding: 16px 20px 16px;
                    .settings{
                        display: flex;
                        align-items: center;
                    }
                    .image{
                         width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            flex-shrink: 0;
                        }
                    }
                    &.exit-wr{
                        background: #fff;
                    }
                }
            }
            &:hover{
                background: #fff;
                border: 1px solid #EEEEEE;
                    border-bottom: none;
                .ava-wr{
                    background: #fff;
                    
                }
                .drop-d{
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
        
    }
}

.all-statistics{
    padding: 30px 0;
    .statistics{
        padding: 25px;
        border-radius: 4px;
        border: 1px solid #EEEEEE;
    }
    .statistics-info{
        padding: 25px;
        border-radius: 4px;
        border: 1px solid #EEEEEE;
        margin-bottom: 24px;
        cursor: pointer;
        p{
            margin: 0;
            transition: 0.3s;
        }
        &:hover{
            .count{
                color: $main_color;
            }
        }
        .count{
            font-size: 56px;
            
        }
        .what-is-it{
            font-size: 16px;
        }
    }
    
    
}
.for-flex-regist-links{
    display: flex;
    .butt-orange{
        margin-left: 5px;
        font-size: 12px;
        padding: 8px 0;
        &:first-child{
            margin-left: 0;
            margin-right: 5px;
        }
    }
}



.all-coworkings{
    padding: 30px 0;
    .search-form{
        padding: 25px;
        border-radius: 4px;
        border: 1px solid #EEEEEE;
    }
    .map{
        height: 300px;
        border: 1px solid red;
    }
    .all-coworkings-flex{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 10px;
        border: 1px solid #EEEEEE;
        .one-cowork-wr{
            padding: 15px;
            width: 33.33%;
           
            .one-cowork{
               position: relative;
                -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.20);
                -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.20);
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.20);
                 &:hover{
                     .description{
                         .name-c{
                             color: $main_color;
                         }
                     }
                }
                .spanlink{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                .img-cowork{
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                    background-image: url(../img/bg-sign-in.png);
                    border-bottom: 4px solid $main_color;
                }
                .description{
                    padding: 10px 15px;
                    font-size: 14px;
                    .name-c{
                        margin-bottom: 15px;
                        font-size: 16px;
                        font-family: OpenSansSemiBold;
                        transition: 0.3s;
                    }
                    .flex-price{
                        display: flex;
                        justify-content: space-between;
                       
                        margin-bottom: 15px;
                    }
                    
                }
                
            }
        }
    }
}
.flex-time-working{
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    .one-day{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        &:first-child{
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
        p{
            margin-bottom: 0;
        }
    }
}
.description-coworking-wr{
    .description-coworking{
        p{
            margin-bottom: 15px;
        }
    }
}
.flex-pluhi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    span{
        display: block;
        padding: 0 20px;
        margin-bottom: 10px;
    }
}
.slider-images-coworking-wr{
    margin-bottom: 30px;
    .one-slide{
        outline: none;
        height: 300px;
        background-size: cover;
        background-position: center;
        
    }
    .slick-arrow{
        display: block;
        z-index: 10;
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        font-size: 0;
        border-radius: 50%;
        background-color: $main_color;
        background-repeat: no-repeat;
        background-position: center;
        top: calc(50% - 7px);
        transform: translateY(-50%);
        opacity: 0.8;
        transition: 0.3s;
        background-size: 30px;
        &:hover{
            opacity: 1;
            -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.40);
                -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.40);
                box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.40);
        }
        &.slick-prev{
            left: 10px;
            background-image: url(../img/back.svg);
             background-position: center left 8px;
        }
        &.slick-next{
            right: 10px;
            background-image: url(../img/next.svg);
            background-position: center right 8px;
        }
       
    }
    .slick-dots{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        justify-content: center;
        li{
            padding: 0 10px;
            button{
                font-size: 0;
                display: block;
                background: #eeeeee;
                width: 12px;
                height: 12px;
                border: none;
                outline: none;
                border-radius: 50%;
                transition: 0.3s;
            }
            &.slick-active{
                button{
                    background: $main_color;
                }
            }
        }
    }
    
}
.booking-user-wr{
    .my-form-groupe-2{
        margin: 0 auto 70px auto;
        .for-data-picker{
            padding: 10px 5px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            outline: none;
        }
        &:before{
            display: none;
        }
        .one-day .left-side-t{
            width: 100%;
        }
    }
}
.all-coworkings{
    .my-booking-user{
        padding: 0 15px;
        .row{
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            &:first-child{
                p{
                   font-family: OpenSansSemiBold;
                }
            }
            &:nth-child(odd){
                    background: #FAFAFA;
            }
            &first-child{
                padding-bottom: 15px;
            }
            
            .open{
                color: $main_color;
            }
            .delete-booking{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $main_color;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:before{
                    content: "";
                    display: block;
                    width: 14px;
                    height: 1px;
                    background: $main_color;
                }
            }
        }
    }
}
.agreement{
    .text{
        padding: 50px 0;
        h1{
            text-align: center;
            margin-bottom: 30px;
            font-size: 18px;
            color: $main_color;
            
        }
        p{
            font-size: 14px;
        }
    }
    .agree-disagree-wr{
        display: flex;
        .agree{
            margin-right: 25px;
            
        }
        button{
            padding: 10px 25px;
            &.disagree-butt{
                background: #f73a3c;
            }
           
        }
        
    }
}

.pich-the-date-for-stat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 40px 0;
    max-width: 500px;
    margin: 0 auto;
    .head-form{
        margin-bottom: 0;
    }
    input{
        padding: 7px 5px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        display: block;
        outline: none;
        width: 150px;
        margin: 0 auto;
    }
}

.coworking-stat-main-wrapp{
    padding: 20px 0 20px 20px;
    .time-line-wr{
        padding-left: 75px;
        .time-line{
            display: flex;
            .time{
                position: relative;
                width: 8.33%;
                padding-bottom: 50px;
                font-size: 12px;
                font-family: RobotoMedium;
                display: flex;
                .dots{
                    position: absolute;
                    bottom: 0;
                    height: 20px;
                    width: 0;
                    border-right: 1px dashed rgba(0, 0, 0, 0.12);
                    &.dot-1{
                        height: 40px;
                        left: 0;
                    }
                    &.dot-2{
                        left: 25%
                    }
                    &.dot-3{
                        left: 50%;
                    }
                    &.dot-4{
                        left: 75%;
                    }
                }
                p{
                    position: relative;
                    transform: translateX(-50%);
                    margin-bottom: 0;
                }
            }
        }
    }
    .all-places-book{
        .one-place{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            &:first-child{
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
            .number{
                width: 75px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: RobotoMedium;
                font-size: 16px;
                border-right: 1px solid rgba(0, 0, 0, 0.12);
            }
            .place-info{
                width: 100%;
                position: relative;
                height: 80px;
                .one-user-state{
                    position: absolute;
                    top: 0;
                    height: 100%;
                    background: #eef0f2;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 12px 16px;
                    &.started{
                        background: #e5f6d2;
                    }
                    &.finished{
                        background: #f6ccd1;
                    }
                    .from{
                        font-family: RobotoMedium;
                        font-size: 12px;
                        
                    }
                    .to{
                        font-family: RobotoMedium;
                        font-size: 12px;
                    }
                    .who-is-it{
                        padding: 0 10px;
                        .ava{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: #FAFAFA;
                            background-size: cover;
                            background-position: center;
                            border: 1px solid #eeeeee;
                            margin: 0 auto 5px auto;
                        }
                        .name{
                            font-size: 11px;
                        }
                    }
                }
            }
            
        }
        
    }
}
.add-new-place{
    display: flex;
    padding: 30px 0;
    background: #FAFAFA;
    justify-content: center;
    cursor: pointer;
    &:hover{
        .butt-for-add{
            p{
                color: $main_color;
            }
        }
    }
    .butt-for-add{
        display: flex;
        align-items: center;
        img{
            flex-shrink: 0;
            margin-right: 10px;
        }
        p{
            font-size: 14px;
            transition: 0.3s;
        }
    }
}
.nav-holder-3{
    overflow-y: auto;
}

.menu-close{
    margin: 0;
    width: auto;
    display: block;
    position: absolute;
    top: 24px;
    left: 20px;
    outline: none;
    
}
.mask-nav-3{
    background-color: rgba(255,255,255,1);
}

.likeDislike{
  display: flex;
    justify-content: center;
}

.like{
  width: 20px;
  height: 20px;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: top -19px left 1px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.dislike{
  width: 20px;
  height: 20px;
  background-image: url(../img/dislike.png);
  background-repeat: no-repeat;
  background-position: top -25px left 1px;
  position: relative;
  cursor: pointer;
  top: 5px;
  background-color: transparent;
  border: none;
}
.dislike:before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/dislike.png);
  transition: .2s;
  display: block;
  background-repeat: no-repeat;
  background-position: top 1px left 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.like:before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/like.png);
  transition: .2s;
  display: block;
  background-repeat: no-repeat;
  background-position: top 1px left 0px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
button{
  outline: none;
}
.like:hover:before{
  opacity: 1;

}
.like.checked-rate:before{
  opacity: 1;

}
.dislike.checked-rate:before{
  opacity: 1;
}

.dislike:hover:before{
  opacity: 1;
}




.nav-holder-3{
    width: 405px;
    padding: 0;
    left: auto;
    right: 0;
    -webkit-transform: translateX(405px);
    -ms-transform: translateX(405px);
    transform: translateX(405px);
    display: flex;
    align-items: center;
    .midd{
        width: 100%;
        .ava{
            width: 175px;
            height: 175px;
            margin: 0 auto 15px auto;
            border: 4px solid #eeeeee;
            background-color: #eee;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            position: relative;
        }
        .name{
            font-size: 24px;
            text-align: center;
            margin-bottom: 50px;
        }
        .time-show{
            display: flex;
            padding: 7px 0;
            background: #FAFAFA;
            margin-bottom: 50px;
            div{
                width: 50%;
                p{
                    margin: 0;
                    font-size: 24px;
                    text-align: center;
                    &:first-child{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}