<div class="container-fluid center-block container1440">
    <div class="row">
        <div class="col-xs-12 col-md-6 left-side" id="filters-cards">
            <div class="controls controls-inline">

                <form (ngSubmit)="GetAllActivities()">
                    <div class="form-group">
                            <input type="text" name="desc_title" class="form-control input-withicon input-lg"  [ngModel]="Params.title" (ngModelChange)="Params.title = $event" placeholder="Title">
                            <span class="material-icons input-icon">title</span>
                    </div>
                    <div class="form-group">
                            <input type="text" name="desc_descr" class="form-control input-withicon input-lg" [ngModel]="Params.description" (ngModelChange)="Params.description = $event" placeholder="Description">
                            <span class="material-icons input-icon">description</span>
                    </div>
                    <div class="form-group">
                            <input ngui-auto-complete [source]="observableSource.bind(this)" [auto-select-first-item]="true" [select-on-blur]="true" list-formatter="formatted_address" name="desc_location" class="form-control input-withicon input-lg" [ngModel]="Params.address" (ngModelChange)="Params.address = $event" (valueChanged)="AddressChanged($event)" placeholder="Address">
                            <span class="material-icons input-icon">location_on</span>
                    </div>
                    
                    
                    <div class="form-group" *ngIf="isAdvanced">
                        <input type="text" name="desc_toll1" class="form-control input-withicon input-lg" [ngModel]="Params.radius" (ngModelChange)="Params.radius = $event" placeholder="Radius">
                        <span class="material-icons input-icon">toll</span>
                    </div>

                    <div class="form-group" *ngIf="isAdvanced">
                        <input type="text" name="start" class="form-control input-withicon input-lg" bsDatepicker [bsConfig]="bsConfig" [ngModel]="Params.from_date | date:'yyyy-MM-dd'" (ngModelChange)="Params.from_date = $event" placeholder="Date from">
                        <span  class="material-icons input-icon">today</span>
                    </div>

                    <div class="form-group" *ngIf="isAdvanced">
                        <input type="text" name="finish" class="form-control input-withicon input-lg" bsDatepicker [bsConfig]="bsConfig" [ngModel]="Params.to_date | date:'yyyy-MM-dd'" (ngModelChange)="Params.to_date = $event" placeholder="Date to">
                        <span  class="material-icons input-icon">today</span>
                    </div>
                    <div class="form-group" *ngIf="isAdvanced">
                        <input ngui-auto-complete [min-chars]="2" [max-num-list]="10" [auto-select-first-item]="true" [select-on-blur]="true" [source]="Categories"  [list-formatter]="autocompleListFormatter" value-property-name="value" display-property-name="name" class="form-control input-lg" name="category" (valueChanged)="CategoryChanged($event)" placeholder="Category">
                    </div>


                    <div class="form-group form-group-makeinline">
                        <button type="submit" class="btn btn-success input-withicon btn-lg">Appliquer</button>
                        <span class="material-icons input-icon" style="color: #fff">search</span>
                       <a class="read-more" data-text="hide advanced search" data-textdefault="show advanced search" (click)="isAdvanced=!isAdvanced">{{isAdvanced?"hide":"show"}} advanced search</a>
                    </div>

                   


                </form> 
            
            </div>
        </div>

        <div class="col-xs-12 col-md-6 map">
            <agm-map class="search_map" (mapClick)="mapClicked($event)" [latitude]="lat" [longitude]="lng">
                <agm-marker [markerDraggable]="true" [latitude]="lat" [longitude]="lng"></agm-marker> 
                <agm-marker *ngFor="let item of Activities; let i = index" [markerDraggable]="false" [latitude]="item.lat" [longitude]="item.lng"></agm-marker> 
                

            </agm-map>
        </div>

        <div class="col-sm-10 marg-auto left-side">
            <div class="cards" *ngIf="!isLoading && Activities.length > 0">
                    
                <div class="container-fluid">
                    <div *ngFor="let item of Activities" class="col-xs-12 col-sm-6 pull-left">
                        <div class="card bg_cover" [ngStyle]="{'background':'url(' + Images['act'+item.id] + ')'}">
                            <h3 class="cardname">{{item.title}}</h3>
                            <h3 class="carddate">{{item.calendar[0].date | date: "dd MMM"}}</h3>
                            <div class="avatar">
                                <img class="profile-logo" alt="logo" [src]="Images['user'+item.user_id]?Images['user'+item.user_id]:'./app/images/man.jpg'">
                                <span class="profile-text">{{Users[item.user_id]?.name?Users[item.user_id]?.name:'Author'}}</span>
                            </div>
                            <span class="cardshadow"></span>
                            <a [routerLink]="['/activity',item.id]"><span class="spanlink"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery CDN -->
<script src="./production/js/jquery.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="./production/js/bootstrap.min.js"></script>
<script>
    $("#map").height($("#filters-cards").height()+64);
    $(".read-more").click(function(e){
        var $this = $(this),
            $text = $this.data("text"),
            $default = $this.data("textdefault");
        e.preventDefault();
        $(".hidden-custom").toggle();
        $this.toggleClass("active");
        if($this.hasClass("active")){
            $(this).text($text = $this.data("text"));
        }else{
            $(this).text($text = $this.data("textdefault"));
        }
    })
</script>
