<div class="side-bar-wr">
        <div class="top">
            <ul>
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                    <a *ngIf="userStatus>=menuItem.userStatus" [routerLink]="menuItem.path">
                        <img [src]="menuItem.icon" class="img-responsive" alt="">
                        <div class="hover-tool">
                            <p *ngIf="service.GetCurrentLang() == 'en'">{{menuItem.title}} </p>
                            <p *ngIf="service.GetCurrentLang() == 'ru'">{{menuItem.ru_title}} </p>
                        </div>
                    </a>
                </li>
    
            </ul>
        </div>
       
    </div>

