<div class="side-bar-wr">
        <div class="top">
            <ul>
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                    <a *ngIf="userStatus>=menuItem.userStatus" [routerLink]="menuItem.path">
                        <img [src]="menuItem.icon" class="img-responsive" alt="">
                        <div class="hover-tool">
                            <p *ngIf="service.GetCurrentLang() == 'en'">{{menuItem.title}} </p>
                            <p *ngIf="service.GetCurrentLang() == 'ru'">{{menuItem.ru_title}} </p>
                        </div>
                    </a>
                </li>
                <li *ngIf="Me.is_admin" >
                    <a [routerLink]="'/system/admin_stat'">
                        <img [src]="'../assets/img/Statistic.svg'" class="img-responsive" alt="">
                        <div class="hover-tool">
                            <p *ngIf="service.GetCurrentLang() == 'en'">Admin</p>
                            <p *ngIf="service.GetCurrentLang() == 'ru'">Админ</p>
                        </div>
                    </a>
                </li>
                <li *ngIf="Me.is_admin" >
                    <a [routerLink]="'/system/backup'">
                        <img [src]="'../assets/img/Add.svg'" class="img-responsive" alt="">
                        <div class="hover-tool">
                            <p *ngIf="service.GetCurrentLang() == 'en'">Backup</p>
                            <p *ngIf="service.GetCurrentLang() == 'ru'">Бэкап</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
       
    </div>

