<router-outlet></router-outlet>
<div class="footer">
  <div class="container center-block">
      <div class="row">
        <div class="col-sm-3">
            <h2 class="sportrotter">Sportrotter</h2>
        </div>
        <div class="col-sm-4">
            <h2>About</h2>
            <ul class="list-inline">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h2>Latest Activities</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="email-subscribe" class="sr-only">Email</label>
                    <input type="email" class="form-control input-withicon input-lg" id="email-subscribe" placeholder="Email">
                    <span class="material-icons input-icon">email</span>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Subscribe</button>
            </form>
            <p>No spam, for sure.</p>
        </div>
      </div>
  </div>
</div>
