<loading-cmp *ngIf="isLoading&&canAccess"></loading-cmp>

<div class="coworking-stat-main-wrapp" *ngIf="meRole=='creator'||meRole=='receptionist'">
    <ng-container *ngIf="!isLoading">
    <form class="pich-the-date-for-stat">
        <h6 class="head-form">
            <span>Выберите дату</span>
        </h6>
        <input type="text"
        readonly style="background-color:white; cursor: pointer;text-align:center"
        class="form-control"
        #dp="bsDatepicker"
        bsDatepicker [bsValue]="bsValue"
        (bsValueChange)="GetBookings($event)">
    </form>
    <div class="time-line-wr">
        <div class="time-line">
            <div class="time">
                <p>00:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
            <div class="time">
                <p>02:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>04:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>06:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>08:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
        
            <div class="time">
                <p>10:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>12:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>14:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>16:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
        
            <div class="time">
                <p>18:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>20:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
       
            <div class="time">
                <p>22:00</p>
                <div class="dots dot-1"></div>
                <div class="dots dot-2"></div>
                 <div class="dots dot-3"></div>
                 <div class="dots dot-4"></div>
            </div>
        </div>
      
            
    </div>
    <div class="all-places-book">
        <div class="one-place" *ngFor="let i of WorkingPlaces">
            <div class="number">
                <p>{{i}}</p>
            </div>
            <div class="place-info">
                <div *ngFor="let item of GetBookingsBySeatNumber(i)" class="one-user-state nav-button">
                    <div class="from">{{item.begin_date | date:'HH:mm'}}</div>
                    <div class="who-is-it">
                        <div class="ava" style="background-image: url(img/ava.png)"></div>
                        <p class="name">{{Users[item.user_id]?.first_name}} {{Users[item.user_id]?.last_name}}</p>
                    </div>
                    <div class="to">{{item.end_date | date:'HH:mm'}}</div>
                </div>
                <!--
                started finished
                -->
            </div>
        </div>
    </div>
    <div class="add-new-place">
        <div class="butt-for-add">
            <img src="img/Add.svg" class="img-responsive" alt="">
            <p>Добавить место</p>
        </div>
    </div>
    
    </ng-container>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Username</th>
            <th>Confirmed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Bookings; let i = index">
            <td>{{item.begin_date | date:'dd.M.yyyy'}}</td>
            <td>{{item.begin_date | date:'H:mm'}} - {{item.end_date | date:'H:mm'}}</td>
            <td>{{Users[item.user_id]?.first_name}} {{Users[item.user_id]?.last_name}}</td>
            <td>
                <button class="button-fisit" *ngIf="!item.is_visit_confirmed && !item.is_closed" (click)="changeConfirmStart(i)">start</button>
                <button class="button-fisit" *ngIf="item.is_visit_confirmed && !item.is_closed" (click)="changeConfirmEnd(i)">finish</button>

                <div *ngIf="item.is_closed" class="likeDislike">
                    <button class="like" (click)="rateUser(Users[item.user_id].id,'yes')" [ngClass]="{'checked-rate':Rates[item.user_id] && Rates[item.user_id].score == 'yes'}"></button>
                    <button class="dislike"(click)="rateUser(Users[item.user_id].id,'no')"[ngClass]="{'checked-rate':Rates[item.user_id] && Rates[item.user_id].score == 'no'}"></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
                  
