<div class="wrapper row3">
    <main id="container" class="clear">
        <div class="row">
            <div class="loading" *ngIf="isLoading"></div>
            <div class="col-md-12" *ngIf="!isLoading">
                <div class="row middle">
                    <div class="h123  h1-first-index">
                        <h1 class="middle-text grey-span topmarg30">Edit activity</h1>
                    </div>
                    <div *ngIf="isEditErr" class="h123 h1-first">
                        <h2 class="error-msg">{{ErrMsg}}</h2>
                    </div>
                </div>
                <form (ngSubmit)="OnEditActivityButtonClick()">
                    <div class="col-sm-6 col-sm-push-2 marg-auto">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control input-lg" maxlength="30" name="title" [ngModel]="Activity.title" (ngModelChange)="Activity.title = $event">
                    </div><br>
                    <div class="form-group">
                        <label>Picture</label>
                        <img [src]="Activity.image">
                        <input type="file"  (change)="changeListener($event)">
                    </div><br>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" required class="form-control input-lg" name="price" [min]="0" [max]="100000" [ngModel]="Activity.price" (ngModelChange)="Activity.price = $event">
                    </div><br>
                    <div class="form-group">
                        <label>Number of possible bookings per date</label>
                        <input type="number" required class="form-control input-lg" name="booking" [min]="0" [max]="10000" [ngModel]="Activity.num_of_bookings" (ngModelChange)="Activity.num_of_bookings = $event">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Category</label>
                        <input ngui-auto-complete [min-chars]="2" [max-num-list]="10" [auto-select-first-item]="true" [select-on-blur]="true" [source]="Categories"  [list-formatter]="autocompleListFormatter" value-property-name="value" display-property-name="name" class="form-control input-lg" name="category" [ngModel]="MyCategory" (valueChanged)="CategoryChanged($event)">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" placeholder="Enter new address" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" [value]="Activity?.address" #searchg>
                    </div>
                    <br>
                    <div class="col-md-12">
                            <agm-map [latitude]="Activity?.public_lat" [longitude]="Activity?.public_lng">
                                <agm-marker [markerDraggable]="false" [latitude]="Activity?.public_lat" [longitude]="Activity?.public_lng"></agm-marker>
                            </agm-map>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Detailed address</label>
                        <input type="text" class="form-control input-lg" name="address" [ngModel]="Activity.detailed_address" (ngModelChange)="Activity.detailed_address = $event">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control input-lg" [ngModel]="Activity.description" (ngModelChange)="Activity.description = $event"></textarea>
                    </div>
                    <br>
                    <div class="form-group  form-group-makeinline">
                        <label>Dates</label>
                        <div class="width-float" *ngFor="let item of Activity.calendar; let i = index">
                                <input  type="text" class="form-control input-lg width-float" bsDatepicker [bsConfig]="bsConfig" name="begin{{i}}" [ngModel]="Activity.calendar[i]" (ngModelChange)="Activity.calendar[i] = $event" [minDate]="Today">
                                <button class="btn btn-pink btn-lg mrg" type="button" (click)="DeleteDate(i)">Delete</button>
                        </div>
                        <button class="btn btn-success btn-lg mrg-top20 width-230" type="button" (click)="NewDate()">Add one more date</button>
                    </div>
                    <br>
                
               

                    <div class="row"><div class="col-md-12 text-center"><button class="btn btn-success btn-lg mrg-top20" type="submit">Save activity</button></div></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>