<loading-cmp *ngIf="isLoading"></loading-cmp>

        <table  *ngIf="!isLoading" class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Begin</th>
                      <th>End</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                    <tr *ngFor="let item of Bookings;let i = index">
                            <td> <a [routerLink]="['/coworking',Coworkings[i]?Coworkings[i].id:'1']">Open</a></td>
                            <td>{{Coworkings[i]?Coworkings[i].full_name:'name'}}</td>
                            <td>{{Coworkings[i]?Coworkings[i].address:'address'}}</td>
                            <td>{{item.begin_date.split("T")[0]| date: "MM/d/y"}}  {{item.begin_date.split("T")[1].split(":")[0]}}{{item.begin_date | date: ":mm"}}</td>
                            <td>{{item.end_date.split("T")[0]| date: "MM/d/y"}}  {{item.end_date.split("T")[1].split(":")[0]}}{{item.end_date | date: ":mm"}}</td>
                            <td>
                                <a class="col-md-2 fsize30 pointer-curs" (click)="UnBooking(item.id)">
                                        <i class="pe-7s-less"></i>
                                </a>
                            </td>
                    </tr>
              </tbody>
        </table>

  
