

<div class="main-content" >
    <div class="container-fluid">
        <loading-cmp *ngIf="isLoading"></loading-cmp>
        <div class="row"  *ngIf="!isLoading">
            <div class="col-md-12" *ngIf="BookingErr">
                <h2 class="error-msg">Incorrect Date or Time!</h2>
            </div>
            <div class="col-md-12" *ngIf="BookingOk">
                    <h2 class="succes-msg">Bokking Success!</h2>
                </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> {{Coworking.full_name}} coworking</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="BookingCoworking()">

                            <div *ngIf="meRole=='user'" class="container-fluid">
                                    <div class="form-inline">
                                            <div class="form-group" style="margin-top:7px;">
                                                <span class="label label-success" style="font-size:12px;">Time From</span>
                                                <input type="time"  class="form-control" [ngModel]="fromTime" [value]="fromTime" name="timeFrom" (ngModelChange)="fromTime = $event">
                                            </div>
                                            <div class="form-group" style="margin-left:20px; margin-top:57x;">
                                                <span class="label label-success" style="font-size:12px;">Time To</span>
                                                <input type="time"  class="form-control" [ngModel]="toTime" [min]="fromTime" [value]="fromTime" name="timeTo" (ngModelChange)="toTime = $event">
                                            </div>
                                            <div class="form-group" style="margin-left:20px; margin-top:7px;"> 
                                                <input type="text"
                                                class="form-control"
                                                #dp="bsDatepicker"
                                                bsDatepicker [(bsValue)]="bsValue">
                                            </div>
                                            <div class="form-group" style="margin-left:20px; margin-top:7px;">
                                                <button type="submit" class="btn btn-info btn-fill">Booking Coworking</button>
                                             </div>
                                        </div>
                                        <hr>
                            </div> <!-- meRole == user -->


                                <!--Old dsg

                                <div class="row">
                                    <div class="col-md-6">
                                    
                                        <div class="col-md-5">
                                            <label>From Time</label>
                                            <input type="time"  class="form-control" [ngModel]="fromTime" [value]="fromTime" name="timeFrom" (ngModelChange)="fromTime = $event">
                                        </div>
                                        
                                        <div class="col-md-2"></div>

                                        <div class="col-md-5">
                                            <label>To Time</label>
                                            <input type="time"  class="form-control" [ngModel]="toTime" [min]="fromTime" [value]="fromTime" name="timeTo" (ngModelChange)="toTime = $event">
                                        </div>
                                        </div>    
                                    </div> 

                                    <div class="col-xs-12 col-12 col-md-4">
                                            <input type="text"
                                                    class="form-control"
                                                    #dp="bsDatepicker"
                                                    bsDatepicker [(bsValue)]="bsValue">
                                    </div>
                                    
                                    <div class="col-xs-12 col-12 col-md-3">
                                    <button type="submit" class="btn btn-info btn-fill">Book coworking</button>
                                    </div>
                                -->
                                

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>Name: {{Coworking.full_name}}</p>
                                        <p>Price: {{Coworking.price}}$</p>
                                        <p>Capacity: {{Coworking.capacity}}</p>
                                        <p>Address: {{Coworking.address}}</p>
                                        <p style="word-wrap: break-word; word-break: break-all;">Description: {{Coworking.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                       
                                       <img class="images-preview pointer-curs" *ngFor="let img of Images; let i = index" [src]="img.base64">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4  card">

                <div class="row pad10">
                    <h4 class="card-h4">Working days</h4>
                    <div class="row" *ngFor="let item of Coworking.working_days;let i = index">
                        <div class="col-md-5">
                            <div class="form-group">
                              <span> {{item.day}}</span>
                            </div>
                        </div>
                        <div class="col-md-5">
                                <label>From</label>
                                <span>{{item.begin_work}}</span>
                                <label>To</label>
                                <span>{{item.end_work}}</span>
                        </div>
                    </div>
                </div>

                <div class="row pad10">
                        <h4 class="card-h4">Ameties</h4>
                        <div class="ameties-cb" *ngFor="let item of AmetiesCB">
                            <label *ngIf="item.checked">{{item.name}}</label>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>


