<div class="wrapper row2">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    <div class="loading" *ngIf="isLoading"></div>
    <div class="login_form" *ngIf="!isLoading">
      <h1>Login</h1>
      <form (ngSubmit)="OnLoginButtonClick()">
        <div class="form-group">
          <label for="login">Email</label>
          <input type="text" class="form-control input-withicon input-lg" name="login" [ngModel]="loginData.login" (ngModelChange)="loginData.login=$event">
          <span class="material-icons input-icon">email</span>
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control input-withicon input-lg" name="password" [ngModel]="loginData.password" (ngModelChange)="loginData.password=$event">
          <span class="material-icons input-icon">security</span>
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </form>
    </div>

    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>