<div class="navigation">
    <img src="../assets/img/main-logo.svg" alt="" class="img-responsive nav-logo">
    <div class="right-side" *ngIf="!isLoggedIn">
        <ul class="sign-menu-wr">
            <li routerLinkActive="active">
                <a routerLink="/login" translate>signIn</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/system/registration" translate>cwrkSignUp</a>
            </li>

            <!--<li routerLinkActive="active">
                <a routerLink="/system/userRegistration">Sign up as user</a>
            </li>-->
        </ul>
    </div>
    <div class="right-side" *ngIf="isLoggedIn">
            <div class="ava-and-settings">
                <div *ngIf="!Me.is_admin" class="ava-wr">
                    <p>{{Me.first_name}} {{Me.last_name}}</p>
                    <div class="ava" [ngStyle]="{'background-image': 'url(' + MyLogo + ')'}"></div>
                </div>
                <div *ngIf="Me.is_admin" class="ava-wr">
                    <p *ngIf="!Me.first_name || !Me.last_name">Admin</p>
                    <p *ngIf="Me.first_name && Me.last_name">{{Me.first_name}} {{Me.last_name}}</p>
                    <div class="ava" [ngStyle]="{'background-image': 'url(./../../../../assets/img/person-icon.png)'}"></div>
                </div>
                <div class="drop-d">
                    <div class="settings-wr my-row" (click)="Navigate(['/system','user_profile'])">
                        <div class="settings">
                            <p translate>settings</p>
                            <div class="image">
                                <img src="../assets/img/Settings.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="settings-wr my-row" (click)="Navigate(['/system','change_password'])">
                        <div class="settings">
                            <p translate>changePsw</p>
                            <div class="image">
                                <img src="../assets/img/key.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="settings-wr my-row" (click)="Navigate(['/system','my_bookings'])" *ngIf="isLoggedIn&& userStatus == 1 && !Me.is_admin">
                        <div class="settings">
                            <p translate>bookings</p>
                            <div class="image">
                                <img src="../assets/img/Chair2.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="exit-wr my-row" (click)="Logout()">
                        <div class="settings">
                            <p translate>exit</p>
                            <div class="image">
                                <img src="../assets/img/exit.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>