<div class="navigation">
    <img src="../assets/img/main-logo.svg" alt="" class="img-responsive nav-logo">
    <div class="right-side" *ngIf="!isLoggedIn">
        <ul class="sign-menu-wr">
            <li routerLinkActive="active">
                <a routerLink="/login">Sign in</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/system/registration">Sign up as coworking</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/system/userRegistration">Sign up as user</a>
            </li>
        </ul>
    </div>
    <div class="right-side" *ngIf="isLoggedIn">
            <div class="ava-and-settings">
                <div class="ava-wr">
                    <p>{{Me.first_name}} {{Me.last_name}}</p>
                    <div class="ava" [ngStyle]="{'background-image': 'url(' + Image + ')'}"></div>
                </div>
                <div class="drop-d">
                    <div class="settings-wr my-row" (click)="Navigate(['/system','user_profile'])">
                        <div class="settings">
                            <p>Настройки</p>
                            <div class="image">
                                <img src="../assets/img/Settings.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="settings-wr my-row" (click)="Navigate(['/system','change_password'])">
                        <div class="settings">
                            <p>Спена пароля</p>
                            <div class="image">
                                <img src="../assets/img/key.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="settings-wr my-row" (click)="Navigate(['/system','my_bookings'])" *ngIf="isLoggedIn&& meRole=='user'">
                        <div class="settings">
                            <p>Брони</p>
                            <div class="image">
                                <img src="../assets/img/Chair2.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="exit-wr my-row" (click)="Logout()">
                        <div class="settings">
                            <p>Выход</p>
                            <div class="image">
                                <img src="../assets/img/exit.svg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>