<nav id="nav-holder" class="nav-holder-3">
        <button class="menu-close">
            <span class="btn-close">
                <img src="img/Arrow_right_black.svg" class="img-responsive">
            </span>
        </button>
        <div class="midd">
            <div class="ava" style="background-image: url(img/ava.png)"></div>
            <p class="name">William Bailey</p>
            <div class="time-show">
                <div>
                    <p>Начало</p>
                    <p>11:00</p>
                </div>
                <div>
                    <p>Конец</p>
                    <p>12:00</p>
                </div>
            </div>
            <button class="butt-orange">Начало работы</button>
            <div class="likeDislike">
                <button class="like"></button>
                <button class="dislike checked-rate"></button>
            </div>
        </div>
</nav>
    
    
    <div class="mask-nav-3"></div>
    

<section class="wrapper">
        <router-outlet></router-outlet>
</section>
