<div class="main-content" >
        <div class="container-fluid">
            <loading-cmp *ngIf="isLoading"></loading-cmp>
            <div class="row"  *ngIf="!isLoading">
                <div class="col-md-12" *ngIf="RegistrationErr">
                    <h2 class="error-msg">{{RegErrMsg}}</h2>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Edit profile</h4>
                        </div>
                        <div class="content">
                            <form (ngSubmit)="UpdateUser(submitFormUsr)" #submitFormUsr="ngForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input autocomplete="off" type="text" class="form-control" #firstN="ngModel" name="fname" [ngModel]="User.first_name" (ngModelChange)="User.first_name = $event" required>
                                            <p *ngIf="firstN.invalid && firstN.touched" class="red-error">First name can`t be empty!</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input autocomplete="off" type="text" class="form-control" #lastN="ngModel" name="lname" [ngModel]="User.last_name" (ngModelChange)="User.last_name = $event" required>
                                            <p *ngIf="lastN.invalid && lastN.touched" class="red-error">Last name can`t be empty!</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input autocomplete="off" type="text" #email="ngModel" class="form-control" name="email" [ngModel]="User.email" (ngModelChange)="User.email = $event" email required>
                                            <p *ngIf="email.invalid && email.touched" class="red-error">Input valid email!</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input autocomplete="off" type="text" pattern="^[+]?[0-9]{3,}$" #phone="ngModel"  class="form-control" name="phone" [ngModel]="User.phone" (ngModelChange)="User.phone = $event">
                                            <p *ngIf="phone.invalid && phone.touched" class="red-error">Input valid phone!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" name="address" [ngModel]="User.address" (ngModelChange)="User.address = $event">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <img class="images-preview" *ngIf="User.image" alt="Delete" [src]="User.image">
                                        </div>
                                        <div class="form-group">
                                            <label class="file_upload">
                                                <span class="button">Browse image</span>
                                                <input type="file" accept=".jpg, .jpeg, .png" (change)="changeListener($event)">
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info btn-fill pull-left" (click)="DeleteUser()">Delete Profile</button>
                                <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!submitFormUsr.valid">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>