<loading-cmp *ngIf="isLoading"></loading-cmp>



<div class="all-statistics" [@ShowHideTrigger]="'start'" [ngStyle]="{'display': isLoading?'none':'block'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="statistics">

                        <div class="form-inline">
                            <div class="form-group ">
                               <div class="form-group ">
                                 <input class="form-control for-marg-stat" bsDaterangepicker [(bsValue)]="bsRangeValue" (ngModelChange)="bsRangeValue = $event" placeholder="Dates" readonly placement="right bottom"  style="background-color:white;">                              
                                    
                            </div>
                            <div class="form-group">
                                    <select class="form-control for-marg-stat" [value]="model" [(ngModel)]="model" (ngModelChange)="changedRadio()">
                                      <option *ngFor="let mod of models">{{mod}}</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                    <button type="button" class="butt-orange" (click)="GetMyCoworking()" style="padding-left:15px;padding-right:15px;">build</button>    
                            </div>
                            
                        </div>
                        </div>
                       <br>
               <div class="row">
                    <div class="col-md-12">
                            <div style="display: block;">
                                <canvas baseChart width="400" height="200"
                                            [datasets]="lineIncomeChartData"
                                            [labels]="lineIncomeChartLabels"
                                            [options]="lineIncomeChartOptions"
                                            [colors]="lineIncomeChartColors"
                                            [legend]="lineIncomeChartLegend"
                                            [chartType]="lineIncomeChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="statistics-info">
                    <p class="count">{{total_income}} {{currency}}</p>
                    <p class="what-is-it" translate>money</p>
                </div>
                <div class="statistics-info">
                    <p class="count">{{total_visitors}}</p>
                    <p class="what-is-it" translate>visitors</p>
                </div>
            </div>
        </div>
    </div>

</div>
    


    