<div class="wrapper row2">
      
 </div>
<div class="wrapper row3">
    <main id="container" class="clear">
        <div class="ads_creation reg_block">
            <div class="ad_create_form">
                <h1>Create activity</h1>
                <form (ngSubmit)="OnCreateActivityButtonClick()">
                    <label>Title</label>
                    <input type="text" name="title" [ngModel]="Activity.title" (ngModelChange)="Activity.title = $event"><br>
                    <label>Picture</label>
                    <input type="file"  (change)="changeListener($event)"><br>
                    <label>Price</label>
                    <input type="number" name="price"  [ngModel]="Activity.price" (ngModelChange)="Activity.price = $event"><br>

                    <label>Number of possible bookings per day</label>
                    <input type="number" name="booking" [ngModel]="Activity.num_of_bookings" (ngModelChange)="Activity.num_of_bookings = $event"><br>
                    <label>Address</label>
                    <input type="text" name="address" [ngModel]="Activity.address" (ngModelChange)="Activity.address = $event"><br>

                    <label>Detailed address</label>
                    <input type="text" name="address" [ngModel]="Activity.detailed_address" (ngModelChange)="Activity.detailed_address = $event"><br>
                    
                    <label>Description</label>
                    <textarea name="description" [ngModel]="Activity.description" (ngModelChange)="Activity.description = $event"></textarea><br>
                    
                    <label>Begining date</label>
                    <input type="date" name="begin" [ngModel]="Start" (ngModelChange)="Start = $event"><br>
                    <label>Finish date</label>
                    <input type="date" name="finish" [ngModel]="Finish" (ngModelChange)="Finish = $event"><br>

                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </main>
</div>