<div class="wrapper row3">
    <main id="container" class="clear">
        <div class="row loading" *ngIf="isLoading"></div>
        <div class="row" *ngIf="!isLoading">
            <div class="col-md-12">
                <div class="row middle">
                    <div class="h123  h1-first-index">
                        <h1 class="middle-text grey-span topmarg30">Create activity</h1>
                    </div>
                    <div *ngIf="isCreateErr" class="h123 h1-first">
                        <h2 class="error-msg">{{ErrMsg}}</h2>
                    </div>
                </div>
                <form (ngSubmit)="OnCreateActivityButtonClick()">
                    <div class="col-sm-6 col-sm-push-2 marg-auto">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control input-lg" name="title" [ngModel]="Activity.title" (ngModelChange)="Activity.title = $event">
                    </div><br>
                    <div class="form-group">
                        <label>Picture</label>
                        <img [src]="Activity.image">
                        <input type="file"  (change)="changeListener($event)">
                    </div><br>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control input-lg" name="price"  [ngModel]="Activity.price"  min="0" (ngModelChange)="Activity.price = $event">
                    </div><br>
                    <div class="form-group">
                        <label>Number of possible bookings per day</label>
                        <input type="number" class="form-control input-lg" name="booking" #book [ngModel]="Activity.num_of_bookings"  [min]="0" [max]="10000" (blur)="ChangeBookings(book)" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control input-lg" name="address" [ngModel]="Activity.address" (ngModelChange)="Activity.address = $event">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Detailed address</label>
                        <input type="text" class="form-control input-lg" name="address" [ngModel]="Activity.detailed_address" (ngModelChange)="Activity.detailed_address = $event">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control input-lg" [ngModel]="Activity.description" (ngModelChange)="Activity.description = $event"></textarea>
                    </div>
                    <br>
                    
                    <div class="form-group  form-group-makeinline">
                        <label>Dates</label>
                        <div class="width-float" *ngFor="let item of Activity.calendar; let i = index">
                                <input  type="text" class="form-control input-lg width-float" bsDatepicker [bsConfig]="bsConfig" name="begin{{i}}" [ngModel]="item" (ngModelChange)="ActivityCalendarChanged(i,$event)">
                                <button class="btn btn-pink btn-lg mrg" type="button" (click)="DeleteDate(i)">Delete date</button>
                        </div>
                        <button class="btn btn-success btn-lg mrg-top20" type="button" (click)="NewDate()">Add one more date</button>
                    </div>
                    
                    <br>
                    
                    <div class="col-md-12">
                        <agm-map (mapClick)="mapClicked($event)" [latitude]="Activity?.lat" [longitude]="Activity?.lng">
                            <agm-marker [markerDraggable]="true" [latitude]="Activity?.lat" [longitude]="Activity?.lng"></agm-marker>
                        </agm-map>
                    </div>
                    <div class="row"><div class="col-md-12 text-center"><button class="btn btn-success btn-lg mrg-top20" type="submit">Create activity</button></div></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
