/* Основные классы для всех страниц */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Merriweather', serif;
    color: #536273;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/*
# Colors:
Green: #3EE1AB
Pink: #EB6996
Dark: #536273
Grey: #F3F4F5
*/

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px;
    color: #536273;
    line-height: 31px;
    font-weight: 700;
}

a {
    font-weight: 300;
    color: #3EE1AB;
    line-height: 23px;
    border-bottom: 1px solid #3EE1AB;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #EB6996;
}

.sportrotter {
    color: #3EE1AB;
    font-weight: 900;
}

.input-icon {
     position: absolute;
     bottom: 10px;
     left: 6px;
}
.input-withicon {
    padding-left: 32px !important;
}

.form-inline {
    margin-bottom: 8px;
}
.form-group {
    position: relative;
    border-bottom: 0px;
}
.form-group label {
    display: block;
}

.header{
  text-align: center;
  margin: auto;
  font-weight: 300;
  color: #3ee1ab;
  min-height: 96px;
  padding: 32px 0;
  /* Rectangle: */
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);
}
.header h2 {
    margin-top: 0;
}
.header .sportrotter {
    border-bottom: 0;
}
.header .container {
    max-width: 1440px;
}

.list-inline {
    margin-left: 0;
}
.list-inline > .active a {
    font-weight: 700;
}
.list-inline>li:first-child {
    padding-left: 0;
    margin-left: 0;
}

nav>.list-inline>li{
    margin: 0px 5px;
}
textarea.input-lg{
    height: 92px;
}

.footer {
    width: 100%;
    padding: 48px 0;
    background-color: rgba(212, 216, 220, 0.5);
    background-image: url("./../images/pattern.png");
}

.footer .container {
    max-width: 1440px;
}

.pl32 {
    padding-left: 32px;
}

.container1440 {
    max-width: 1440px;
}

.cards .row > div:first-child {
    padding-left: 0;
}
.cards .row > div:last-child {
    padding-right: 0;
}
.cards .row {
    margin-bottom: 30px;
}

.header .container-fluid {
    padding: 0 32px;
}
.container-fluid{
    display: inline-table;
}
.word-break p, .word-break h4{
    word-break: break-all; 
    word-wrap: break-word;
}

.border-bottom-hr{
    border-bottom: 1px solid rgba(0,0,0,.1);
    min-height: 135px;
}
.row{
    margin-left:0px;
    margin-right:0px;
}
.modal-header{
    padding: 5px;
}
.marg-auto{
    margin:10px auto 30px auto;;
}
.topmarg30{
    margin-top: 30px!important;
}

.surfer{
    background:url('./../images/surfer.jpg') center no-repeat;
    background-size:cover;
}
.bg-img{
    text-align:center;
}
.h-center{
    text-align:center;
}
td img{
    max-width:150px;
}
.error-msg{
    color:red;
    text-align: center;
}
.ok-msg{
    color:rgba(0,255,0,1);
    text-align: center;
}
.vf2{
    background:url('./../images/vf2.jpg') center no-repeat;
    background-size:cover;
}

.parashut{
    background:url('./../images/parashut.jpg') center no-repeat;
    background-size:cover;
}

.child{
    background:url('./../images/child.jpg') center no-repeat;
    background-size:cover;
}

.white-span{
    color: #fff;
}

.grey-span{
    color:#536273;
}

/* Loading */

.loading{
    background-image: url("./../images/loading.gif");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}

/* Главная страница */
.hero{
  text-align: center;
  display: table;
  overflow: hidden;
  height: 450px;
  width: 100%;
  background:url("./../images/hero-back.jpg") center no-repeat;
  background-size: cover!important;
}
.width70{
    width:70%;
}
select.input-lg{
    padding: 0px 0px 5px 0px;
}
.width-float{
    margin-bottom:5px;
}
.width-float:last-child{
    margin-bottom: 0px;
}
.width-float>input{
    width: 76%;
    float: left;
}
.width-float>button{
    height: 46px;
    float: right;
}
form>h2{
    color:#536273;
    text-align: center;
}

h1{
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-content{
  display: table-cell;
  vertical-align: middle;
}
.hero-content h2 {
    margin-top: 16px;
    font-weight: 300;
    color: #fff;
    font-size: 24px;
}

.middle{
  text-align: center;
}
.middle2{
  max-width: 1440px;
}

.middle-text{
  margin-top: 96px;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: bold;
  color: #eb6996;
}
.middle-text-2{
  margin-top: 16px;
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 300;
}

.card{
  height: 334px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.cardshadow {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1;
    /* background: */
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.54) 0%, rgba(212,212,212,0.00) 37%, rgba(128,128,128,0.25) 65%, rgba(0,0,0,0.50) 96%);
}

.spanlink {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 3;
}

.cardname{
  position: absolute;
  bottom: 41px;
  left: 32px;
  opacity: 0.9;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  z-index: 2;
}

.carddate{
  position: absolute;
  top: 41px;
  right: 35px;
  opacity: 0.9;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  z-index: 2;
}
.card .avatar {
    position: absolute;
    top: 32px;
    left: 32px;
}
.avatar {
    width: 90px;
    height: 90px;
    position: relative;
}
.profile-logo{
  width: 90px;
  height: 90px;
  border-radius:45px;
  display: inline-block;
}

.profile-text{
  background-color:#e1723e;
  padding: 5px 11px;
  color: #ffffff;
  bottom: 0;
  width: 90px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  bottom: 16px;
}

.logo-text{
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  color: #536273;
  margin-top: 24px;
  display: inline-block;
}

.middle3{
  text-align: center;
  margin-top: 40px;
}

.btn-pink{
  background-color: #eb6996;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border-radius: 7px;
  padding: 16px 14px;
  text-align: left;
}
.btn-pink:hover {
    background-color: #3ee1ab;
}

.btn-green{
    background-color: #3ee1ab;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    border-radius: 7px;
    padding: 16px 14px;
    text-align: left;
}

.btn-success {
    background-color: #3ee1ab;
}
.btn-green:hover, .btn-success:hover {
    background-color: #eb6996;
}

.middle5{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 96px;
}

.btn-withicon .material-icons {
    position: relative;
    bottom: -5px;
    margin-left: 8px;
}

.pics{
  text-align: center;
}
.pics > div {
    position: relative;
}

#activity{
  width: 160px;
  max-width: 400px;
  vertical-align: middle;
}

#date{
  width: 220px;
  max-width: 400px;
  vertical-align: middle;
}

.h1-first-index>h1{
    margin-top: 96px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0,0,0,0.0);
    color:#eb6996;
    height: 60px;
    padding: 10px;
}

#research{
  height: 29px;
  width: 24px;
  vertical-align: middle;
}

/* Search page */

.read-more {
    font-size: 16px;
    color: #536273;
    border-bottom: 1px dashed #536273;
}
.read-more:focus {
    border-bottom: 1px dashed #536273;
    text-decoration: none;
}

.left-side {
    padding: 32px;
}

.map {
    
    margin-bottom: 30px;
    margin-top: 30px;
}
.container700{
    width:735px;
}

.controls-inline {
    margin-bottom: 32px;
}

.controls-inline .form-group {
    display: inline-block;
    width: 49%;
}
.controls-inline .form-group:last-child {
    width: 100%;
}

.hidden-custom {
    display: none;
}

/* Discover */

.content1440 .hero {
    max-height: 360px;
}

/* Activity */

.pull-top {
    margin-top: -64px;
    margin-bottom: 32px;
}
.pull-left{
    float:left;
}
.center-h2{
    width:100%;
    text-align: center;
}
.round-card {
    padding: 32px;
    border-radius: 8px;
    background-color: #fff;
    background-image: url("./../images/pattern.png");
    margin-bottom: 32px;
    width: 100%;
}
.col-xs-12{
    width:100%;
}
.height333{
    min-height: 333px;
}
.height265{
    min-height: 265px;
}
.round-card h3 {
    margin-top: 0;
}
.round-card .controls-inline {
    margin-bottom: 0;
}

.inline-block {
    display: inline-block;
}
.commentbody{
    text-align: justify;
}

.about-org {
    padding-left: 122px;
    min-height: 145px;
    text-align: justify;
}

.activity-description {
    margin-bottom: 48px;
    text-align: justify;
}

.booking-price {
    display: inline-block;
    margin-left: 16px;
    font-size: 24px;
    
}

.ratings {
    margin-top: 32px;
}
.ratings p {
    margin-top: 16px;
}

.comments {
    margin-top: 24px;
}
.commentbody-rating-date {
    padding: 5px 0px 16px 124px;
}
.rating-date {
    text-align: right;
    margin-bottom: 10px;
}
.commentmeta {
    padding: 0 8px;
}
.commentmeta .material-icons {
    position: relative;
    bottom: -6px;
    padding-right: 4px;
}

.activity-description p{
    word-wrap: break-word;
    padding: 10px;
}

.puk-rating{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

.puk-rating li {
    display: inline-block;
    margin: 0 2px;
}

.puk-rating li:first-child {
    margin-left: 0
}

.panel-rating {

    padding-left: 15px;
    padding-right: 20px;
    background-color: #008ca8;
    display: inline-block;
    border-radius: 10px;
    width: auto;
  }
.panel-rating p{
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 22px;
}

/* User Space */

.container960 {
    max-width: 960px;
}

.hero--user {
    max-height: 360px;
}

.container560 {
    width: 560px;
}

/* login */

.login_form {
    width: 30%;
    margin: auto;
    padding: 25px;
}
.login_form h1 {
    text-align: center;
    font-size: 24px;
    color: #536273;
    line-height: 31px;
    font-weight: 700;
}
.login_form form input {
    width: 100%;
}
.login_form form button {
    width: 100%;
}

.register_block {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.register_block h2 {
    color: #56AED4;
    padding-bottom: 15px;
    border-bottom: 1px solid #56AED4;
}
.register_block .reg_block {
    width: 40%;
}
.register_block .reg_block form input, .register_block .reg_block form select {
    width: 100%;
}
.register_block .reg_block form textarea {
    width: 100%;
    height: 100px;
}
.register_block .reg_block form button {
    width: 100%;
    background: #56AED4;
    color: white;
    border: 0;
    padding: 10px 0;
}
.register_block .reg_block .part_reg {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.register_block .reg_block .part_reg div {
    width: 45%;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.form-group>img{
    max-width:250px;
}
.bg_cover{
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.input-lg {
	height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.hero-content form.form-inline {
	justify-content: center;
}
.hero-content form.form-inline .form-group {
	margin: 0 1px;
}

.btn-group-lg>.btn, .btn-lg {
	font-size: 18px;
	margin: 0 2px;
}
.h123{
    margin:auto;
    width: 100%;
}
.h1-first>h1{
    margin-top: 96px;
    margin-bottom: 16px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 80px;
    padding: 10px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.btn-green:hover, .btn-success:hover {
    background-color: #eb6996;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}


/* Activities */
.my_ad_header{
    max-width: 80%;
    margin-left: 170px;
    margin-right: 75px;
    position: relative;
    top: -15px;
}
.delete_button{
    float:right;
    margin-left: 10px;
}
.delete_button button.edit{
    background-image: url(./../images/edit.png);
}
.delete_button button{
    width: 30px;
    height: 30px;
    border: 1px solid #00406b;
    background: white;
    color: #00406b;
    background-image: url(./../images/trash.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 20px;
    margin-top: 10px;
}
.activity_image{
    float: left;
    margin-right: 5px;
    padding: 5px;
    max-width: 160px;
}
.activity_image>img{
    max-width: 150px;
}

li.users_ad{
    max-height: 250px;
}
li.users_ad article{
    display: flow-root;
}

/* Comments */
#activities ul{margin:40px 0 40px 0; padding:0; list-style:none;}
#activities li{margin:0 0 15px 0; padding: 13px 13px 13px 0px;}
#activities .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#activities address{font-weight:bold;}
#activities time{font-size:smaller;}
#activities .comcont{display:block; margin:0; padding:0;}
#activities .comcont p{margin:10px 5px 10px 0; padding:0;}
#activities li:nth-child(2n){
    background-image: url("./../images/pattern.png");
}
.max-height200
{
    max-height: 200px;
}
.btn.btn-primary.btn-lg{
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    border-radius: 7px;
    padding: 16px 14px;
    text-align: left;
}

.unread{
    font-weight: bold;
}
agm-map {
    height: 300px;
    margin-bottom: 30px;
}

.search_map{
    height: 500px;
}

.mrg-top20{
    margin-top:20px;
}
input:required:valid{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,255,0,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,255,0,1);
    box-shadow: 0px 0px 3px 2px rgba(0,255,0,1);
}
input:required:invalid{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255,0,0,1);
    box-shadow: 0px 0px 3px 2px rgba(255,0,0,1);
}
.message_item{
    background-color: #e8e8e8;
    max-width: 80%;
    border-radius: 19px;
    padding: 10px;
    margin-bottom: 5px;
}
.my_message{
    background-color: #cccccc;
    margin-left: auto;
}
.message_body{
    margin-bottom: 5px;
    word-break: break-all;
}
.message_date{
    text-align: right;
    font-size: 12px;
}
.modal-body{
    padding: 5px;
}
.chat-history{
    overflow-y: scroll;
    height: 350px;
    margin-bottom: 5px;
    padding: 5px;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        position: relative;
        top: 140px;
        margin: auto;
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .cards .row > div {
        padding: 0;
        margin-bottom: 32px;
    }
    .pl32 {
        padding-left: 0;
    }
    .form-group-makeinline {
        display: inline-block;
    }
    .pics div {
        margin-bottom: 48px;
    }
    .controls-inline .form-group {
        display: block;
        width: 100%;
    }

}