<div class="row loading" *ngIf="isLoading"></div>
<div *ngIf="!isLoading" class="hero center-block" [ngStyle]="{'background':'url(' + ActivityImg + ') center no-repeat'}">
    <div class="row middle">
        <div class="h123 h1-first word-wrap">
                <h1>{{Activity.title.slice(0,100)}}</h1>
        </div>
    </div>
</div>
<div *ngIf="!isLoading" class="content1440">
    <div class="container center-block pull-top">
        <div class="row">
            <div class="col-sm-6">
                <div class="round-card" [ngClass]="{'height333': MyBooking.id > 0,'height265':!(MyBooking.id > 0)}">
                    <div class="avatar pull-left">
                        <img class="profile-logo" alt="logo" [src]="UserLogo?UserLogo:'./app/images/man.jpg'" style="center">
                        <span class="profile-text">{{Activity.user_name?getShortNames(Activity.user_name):'Author'}}</span>
                        <a [routerLink]="['/users',Activity?Activity.user_id:'0']"><span class="spanlink"></span></a>
                    </div>
                    <div class="about-org">
                        <h3 class="word-wrap">{{Activity.user_name.slice(0,50)}}</h3>
                        <p [innerHTML]="Activity.user_description"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="booking" *ngIf="!isLoggedIn">
                    <div class="round-card">
                        <h3>Activity information</h3>
                        <form>
                            <div class="form-group  form-group-makeinline">
                                <select class="form-control input-withicon input-lg" name="booking_date" [ngModel]="Booking.date" (ngModelChange)="GetBookingsByDateUnsub($event)">
                                    <option *ngFor="let item of Activity.calendar" [value]="item.date">{{item.date | date:'M/dd/yyyy'}}</option>

                                </select>
                                <span class="material-icons input-icon">today</span>
                                <!--<span class="material-icons input-icon">today</span>-->
                            </div>
                            <div class="form-group form-group-makeinline">
                                <span>Maximum number of participants is <b>{{Activity.num_of_bookings}}</b></span>
                                <label>Available places for {{Booking.date | date:'M/dd/yyyy'}} : <b>{{Available}}</b></label>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <span>Price: <b>{{+Activity.price}} euro/participant</b></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="booking" *ngIf="isLoggedIn">
                    <div *ngIf="Me.id == Activity.user_id && !isInPast"  class="round-card">
                        <h3>Activity information</h3>
                        <form>
                            <div class="form-group  form-group-makeinline">
                                <select class="form-control input-withicon input-lg" name="booking_date" [ngModel]="Booking.date" (ngModelChange)="GetBookingsByDateUnsub($event)">
                                    <option *ngFor="let item of Activity.calendar" [value]="item.date">{{item.date | date:'M/dd/yyyy'}}</option>

                                </select>
                                <span class="material-icons input-icon">today</span>
                                <!--<span class="material-icons input-icon">today</span>-->
                            </div>
                            <div class="form-group form-group-makeinline">
                                <span>Maximum number of participants is <b>{{Activity.num_of_bookings}}</b></span>
                                <label>Available places for {{Booking.date | date:'M/dd/yyyy'}} : <b>{{Available}}</b></label>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <span>Price: <b>{{+Activity.price}} euro/participant</b></span>
                            </div>
                        </form>
                        <div class="form-group form-group-makeinline">
                            <button type="button" class="btn btn-primary btn-lg" (click)="EditActivity()">Edit Activity</button>
                            <button type="button" class="btn btn-pink btn-lg" (click)="DeleteActivity()">Delete Activity</button>
                        </div>
                    </div>
                    <div *ngIf="!MyBooking.id && Me.id != Activity.user_id && !isInPast" class="round-card">
                        <h3>Reserve</h3>
                        <div *ngIf="isBookingErr">
                            <h4 class="error-msg">Incorrect number of participants! Available places is <b>{{Available}}</b></h4>
                        </div>
                        <form (ngSubmit)="CreateBooking()">
                            <div class="form-group  form-group-makeinline">
                                <select class="form-control input-withicon input-lg" name="booking_date" [ngModel]="Booking.date" (ngModelChange)="GetBookingsByDateUnsub($event)">
                                    <option *ngFor="let item of Activity.calendar" [value]="item.date">{{item.date | date:'M/dd/yyyy'}}</option>

                                </select>
                                <span class="material-icons input-icon">today</span>
                                <!--<span class="material-icons input-icon">today</span>-->
                            </div>
                            <div class="form-group form-group-makeinline">
                                <label>Available places: <b>{{Available}}</b></label>
                                <input type="number" name="booking_num" class="form-control input-withicon input-lg"  [ngModel]="Booking.num_of_participants" (ngModelChange)="Booking.num_of_participants = $event" [max]="Available" placeholder="1" min="0">
                                <span class="material-icons input-icon">people</span>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <button type="submit" class="btn btn-success input-withicon btn-lg">Reserve</button>
                                <span class="material-icons input-icon" style="color: #fff">credit_card</span>
                                <span class="booking-price">{{+Activity.price}} euro/ticket</span>
                            </div>
                        </form>
                    </div>

                    <div *ngIf="isInPast" class="round-card">
                        <h4 class="error-msg">Activity has passed!</h4>
                        <div class="form-group form-group-makeinline">
                            <span>See more activities in  <a [routerLink]="['/search']">Search Page</a></span>
                        </div>
                    </div>

                    <div *ngIf="MyBooking.id > 0 && Me.id != Activity.user_id && !isInPast" class="round-card">
                        <h3>Update my booking</h3>
                        <div *ngIf="isBookingErr">
                            <h4 class="error-msg"> Available places is <b>{{Available}}</b></h4>
                        </div>
                        <form (ngSubmit)="UpdateBooking()">
                            <div class="form-group  form-group-makeinline">
                                <select class="form-control input-withicon input-lg" name="booking_date" [ngModel]="MyBooking.date" (ngModelChange)="GetBookingsByDateSub($event)">
                                    <option *ngFor="let item of Activity.calendar" [value]="item.date">{{item.date | date:'dd.M.yyyy'}}</option>

                                </select>
                                <span class="material-icons input-icon">today</span>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <label>Available places: <b>{{Available}}</b></label>
                                <input type="number" name="booking_num" class="form-control input-withicon input-lg"  [ngModel]="MyBooking.num_of_participants" (ngModelChange)="MyBooking.num_of_participants = $event" min="0" [max]="Available">
                                <span class="material-icons input-icon">people</span>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <button type="submit" class="btn btn-success input-withicon btn-lg">Update</button>
                                <span class="material-icons input-icon" style="color: #fff">credit_card</span>
                                
                                <span class="booking-price">{{+Activity.price}} euro/ticket</span>
                            </div>
                        </form>
                        <div class="form-group form-group-makeinline">
                            <button type="button" class="btn btn-pink btn-lg" (click)="Unsubscribe()">Unsubscribe</button>
                            <button type="button" class="btn btn-primary btn-lg" (click)="ReadMessages(modal1)">Send message</button>
                            
                            <modal #modal1>
                                <div class="app-modal-header">
                                    Chat with <b>{{Activity.user_name}}</b>
                                </div>
                                <div class="app-modal-body">
                                    <div *ngIf="MessOk">
                                        <h4 class="ok-msg"> Your message was send to 
                                            <b>{{Activity.user_name}}</b>
                                        </h4>
                                    </div>
                                    <div *ngIf="MessErr">
                                        <h4 class="error-msg">Input body!</h4>
                                    </div>
                                    <div *ngIf="MesLoading" class="loading max-height200"></div>
                                    <div *ngIf="!MesLoading">
                                        <div class="chat-history" #scrollMe style="overflow-x: hidden; height: xyz;">
                                            <h3 *ngIf="!MesLoading && Messages.length == 0" class="h-center">There is no messages!</h3>
                                            <div *ngFor="let item of Messages" class="message_item" [ngClass]="{'my_message':item.from_id != Activity.user_id}">
                                                <p class="message_body">{{item.body}}</p>
                                                <p class="message_date">{{item.updated_at | date:'HH:mm, dd/MM/yyyy'}}</p>
                                            </div>
                                        </div>
                                        <form  (ngSubmit)="SendMessage()">
                                            <div class="form-group">
                                                <textarea name="description" class="form-control input-lg" [ngModel]="Message.body" (ngModelChange)="Message.body = $event"></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-success btn-lg" type="submit">Send message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
        
                                </div>
                                <div class="app-modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="modal1.hide()">Cancel</button>
                                </div>
                            </modal>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="pl32">
                    <div class="activity-description">
                            <h3>Category</h3>
                            <p>{{Activity.sub_category}}</p>
                        <h3>Description</h3>
                        <p>{{Activity.description}}</p></div>
                    
                    
                        <div class="activity-comments-ratings">

                       
                            <div *ngIf="datePrev()">
                                <h3>Rating</h3>
                                    

                                    <div class="panel-rating" *ngIf="canRate()" [ngStyle]="getStyleColor()">
                                        <div *ngIf="MyRate.rate!=0"> 
                                            <p>My Rate: {{MyRate.rate}}</p>
                                        </div>
                                        <div *ngIf="MyRate.rate==0"> 
                                                <p>Rate it!</p>
                                        </div>
                                        <ul class="puk-rating">
                                            <li *ngFor="let item of pukList"  (mouseenter)="onMouseEnterRate(item)" (mouseleave)="onMouseLeaveRate()">
                                                <i  [ngStyle]="getStyleRate(item)" (click)="onClickRate(item)"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="panel-rating" [ngStyle]="getStyleColorTotal()">
                                            <div *ngIf="TotalRate.rate!=0"> 
                                                <p>Total Rate: {{TotalRate.rate}}</p>
                                            </div>
                                            <div *ngIf="TotalRate.rate==0"> 
                                                 <p>No rating!</p>
                                            </div>
                                            
                                            <ul class="puk-rating">
                                                <li *ngFor="let item of pukList" >
                                                    <i  [ngStyle]="getStyleRateTotal(item)" ></i>
                                                </li>
                                            </ul>
                                           
                                    </div>
                            </div>


                        <div class="container-fluid post-comment" *ngIf="isLoggedIn">
                            <h3>Add commentary</h3>
                            <div *ngIf="isCommentErr">
                                <h4 class="error-msg">Input description!</h4>
                            </div>
                            <form (ngSubmit)="AddComment()">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control input-lg" name="title" [ngModel]="Comment.title" (ngModelChange)="Comment.title = $event">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea name="description" class="form-control input-lg" [ngModel]="Comment.body" (ngModelChange)="Comment.body = $event"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-success btn-lg" type="submit">Add commentary</button>
                                        </div>
                                    </div>
                            </form>
                        </div>

                        <div class="container-fluid comments">
                            <h3>Comments</h3>
                            <div class="comment word-break" *ngFor="let item of Comments">
                                <div class="avatar pull-left">
                                    <img class="profile-logo" alt="logo" [src]="Images[item.user_id]?Images[item.user_id]:'./app/images/man.jpg'" style="center">
                                    <span class="profile-text">{{item.user_name?getShortNames(item.user_name): 'Author'}}</span>
                                    <a [routerLink]="['/users',item.user_id]"><span class="spanlink"></span></a>
                                </div>
                                <div class="commentbody-rating-date">
                                    <div class="rating-date">
                                        <div class="commentmeta inline-block">
                                            <span class="material-icons">date_range</span>{{item.updated_at | date:'dd.M.yyyy'}}
                                        </div>
                                    </div>
                                    
                                    <div class="commentbody">
                                        <h4>{{item.title}}</h4>
                                        <p [innerHTML]="item.body"></p>
                                    </div>
                                    
                                    <div class="delete_button" *ngIf="isLoggedIn && Me && (Me.id == item.user_id||Me.id == Activity.user_id)">
                                        <button (click)="OnDeleteComment(item)" ></button>
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-5">
                <div *ngIf="Bookings.length > 0">
                    <h3>Reserved</h3>
                    <div class="comment border-bottom-hr" *ngFor="let item of DateBookings">
                        <div class="avatar pull-left">
                            <img class="profile-logo" alt="logo" [src]="Images[item.user_id]?Images[item.user_id]:'./app/images/man.jpg'" style="center">
                            <span class="profile-text">{{item.user_name?getShortNames(item.user_name): 'Author'}}</span>
                            <a [routerLink]="['/users',item.user_id]"><span class="spanlink"></span></a>
                        </div>
                        <div class="commentbody-rating-date">
                            
                            <div class="commentbody">
                                <span>Reserved tickets: {{item.num_of_participants}}</span>
                            </div>
                            <div class="rating-date">
                                <div class="commentmeta inline-block">
                                    <span class="material-icons">date_range</span>{{item.updated_at | date:'dd.M.yyyy'}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>