<div class="row loading" *ngIf="isLoading"></div>
<div *ngIf="!isLoading" class="hero center-block" [ngStyle]="{'background':'url(' + ActivityImg + ') center no-repeat'}">
    <div class="row middle">
        <div class="h123 h1-first">
                <h1>{{Activity.title}}</h1>
        </div>
    </div>
</div>
<div *ngIf="!isLoading" class="content1440">
    <div class="container center-block pull-top">
        <div class="row">
            <div class="col-sm-7">
                <div class="round-card" [ngClass]="{'height333': MyBooking.id > 0,'height265':!(MyBooking.id > 0)}">
                    <div class="avatar pull-left">
                        <img class="profile-logo" alt="logo" [src]="UserLogo?UserLogo:'./app/images/man.jpg'" style="center">
                        <span class="profile-text">{{Activity.user_name}}</span>
                        <a [routerLink]="['/users',Activity?Activity.user_id:'0']"><span class="spanlink"></span></a>
                    </div>
                    <div class="about-org">
                        <h3>{{Activity.user_name}}</h3>
                        <p [innerHTML]="Activity.user_description"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="booking">
                    <div *ngIf="!MyBooking.id" class="round-card">
                        <h3>Reserve</h3>
                        <div *ngIf="isBookingErr">
                            <h4 class="error-msg">Incorrect number of participants!</h4>
                        </div>
                        <form (ngSubmit)="CreateBooking()">
                            <div class="form-group">
                                {{Start | date:'dd.M.yyyy'}} - {{Finish | date:'dd.M.yyyy'}}
                                <!--<span class="material-icons input-icon">today</span>-->
                            </div>
                            <div class="form-group form-group-makeinline">
                                <input type="number" name="booking_num" class="form-control input-withicon input-lg"  [ngModel]="Booking.num_of_participants" (ngModelChange)="Booking.num_of_participants = $event" [max]="Activity.num_of_bookings" placeholder="1">
                                <span class="material-icons input-icon">people</span>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <button type="submit" class="btn btn-success input-withicon btn-lg">Reserve</button>
                                <span class="material-icons input-icon" style="color: #fff">credit_card</span>
                                <span class="booking-price">{{+Activity.price}} euro/ticket</span>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="MyBooking.id > 0" class="round-card">
                        <h3>Update my booking</h3>
                        <div *ngIf="isBookingErr">
                            <h4 class="error-msg">Incorrect number of participants!</h4>
                        </div>
                        <form (ngSubmit)="UpdateBooking()">
                            <div class="form-group">
                                {{Start | date:'dd.M.yyyy'}} - {{Finish | date:'dd.M.yyyy'}}
                                <!--<span class="material-icons input-icon">today</span>-->
                            </div>
                            <div class="form-group form-group-makeinline">
                                <input type="number" name="booking_num" class="form-control input-withicon input-lg"  [ngModel]="MyBooking.num_of_participants" (ngModelChange)="MyBooking.num_of_participants = $event" [max]="Activity.num_of_bookings">
                                <span class="material-icons input-icon">people</span>
                            </div>
                            <div class="form-group form-group-makeinline">
                                <button type="submit" class="btn btn-success input-withicon btn-lg">Update</button>
                                <span class="material-icons input-icon" style="color: #fff">credit_card</span>
                                <span class="booking-price">{{+Activity.price}} euro/ticket</span>
                            </div>
                        </form>
                        <div class="form-group form-group-makeinline">
                            <button type="button" class="btn btn-pink btn-lg" (click)="Unsubscribe()">Unsubscribe</button>
                            <button type="button" class="btn btn-primary btn-lg" (click)="modal1.show()">Send message</button>
                            <modal #modal1>
                              <div class="app-modal-header">
                                Send message to <b>{{Activity.user_name}}</b>
                              </div>
                              <div class="app-modal-body">
                                <div *ngIf="MessOk">
                                    <h4 class="ok-msg"> Your message was send to <b>{{Activity.user_name}}</b></h4>
                                </div>
                                <div *ngIf="MessErr">
                                    <h4 class="error-msg">Input correct title and body!</h4>
                                </div>
                                <div *ngIf="MesLoading" class="loading max-height200"></div>
                                <form *ngIf="!MesLoading" (ngSubmit)="SendMessage()">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control input-lg" name="title" [ngModel]="Message.title" (ngModelChange)="Message.title = $event">
                                    </div>
                                    <div class="form-group">
                                        <label>Body</label>
                                        <textarea name="description" class="form-control input-lg" [ngModel]="Message.body" (ngModelChange)="Message.body = $event"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-success btn-lg" type="submit">Send message</button>
                                        </div>
                                    </div>
                                 </form>
                              </div>
                              <div class="app-modal-footer">
                                <button type="button" class="btn btn-primary" (click)="modal1.hide()">Cancel</button>
                              </div>
                            </modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="pl32">
                    <div class="activity-description">
                        <h4>Description</h4>
                        <p>{{Activity.description}}</p></div>
                    <div class="activity-comments-ratings">
                        <h3>Rating</h3>
                        <div class="container-fluid ratings">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 text-center">
                                    <img src="./app/images/rating1.png" alt="">
                                    <p>Rating 1</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 text-center">
                                    <img src="./app/images/rating2.png" alt="">
                                    <p>Rating 2</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 text-center">
                                    <img src="./app/images/rating3.png" alt="">
                                    <p>Rating 3</p>
                                </div>
                                <div class="col-xs-6 col-sm-3 text-center">
                                    <img src="./app/images/rating4.png" alt="">
                                    <p>Rating 4</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid post-comment">
                            <h3>Add commentary</h3>
                            <div *ngIf="isCommentErr">
                                <h4 class="error-msg">Input title and description!</h4>
                            </div>
                            <form (ngSubmit)="AddComment()">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control input-lg" name="title" [ngModel]="Comment.title" (ngModelChange)="Comment.title = $event">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea name="description" class="form-control input-lg" [ngModel]="Comment.body" (ngModelChange)="Comment.body = $event"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-success btn-lg" type="submit">Add commentary</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="container-fluid comments">
                            <h3>Comments</h3>
                            <div class="comment word-break" *ngFor="let item of Comments">
                                <div class="avatar pull-left">
                                    <img class="profile-logo" alt="logo" [src]="Images[item.user_id]?Images[item.user_id]:'./app/images/man.jpg'" style="center">
                                    <span class="profile-text">{{item.user_name?item.user_name: 'Author'}}</span>
                                    <a [routerLink]="['/users',item.user_id]"><span class="spanlink"></span></a>
                                </div>
                                <div class="commentbody-rating-date">
                                    <div class="rating-date">
                                        <div class="commentmeta inline-block">
                                            <span class="material-icons">date_range</span>{{item.updated_at | date:'dd.M.yyyy'}}
                                        </div>
                                    </div>
                                    
                                    <div class="commentbody">
                                        <h4>{{item.title}}</h4>
                                        <p [innerHTML]="item.body"></p>
                                    </div>
                                    
                                    <div class="delete_button" *ngIf="Me.id == item.user_id">
                                        <button (click)="OnDeleteComment(item)" ></button>
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-5">
                <div *ngIf="Bookings.length > 0">
                    <h3>Researved</h3>
                    <div class="comment border-bottom-hr" *ngFor="let item of Bookings">
                        <div class="avatar pull-left">
                            <img class="profile-logo" alt="logo" [src]="Images[item.user_id]?Images[item.user_id]:'./app/images/man.jpg'" style="center">
                            <span class="profile-text">{{item.user_name?item.user_name: 'Author'}}</span>
                            <a [routerLink]="['/users',item.user_id]"><span class="spanlink"></span></a>
                        </div>
                        <div class="commentbody-rating-date">
                            
                            <div class="commentbody">
                                <span>Reserved tickets: {{item.num_of_participants}}</span>
                            </div>
                            <div class="rating-date">
                                <div class="commentmeta inline-block">
                                    <span class="material-icons">date_range</span>{{item.updated_at | date:'dd.M.yyyy'}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>