<div class="container-fluid hero">
    <div class="hero-content">
        <h1>Envie de dépenser votre énergie</h1>
        <form class="form-inline" action="search.html" method="get">
            <div class="form-group index-search">
                <input ngui-auto-complete [source]="observableSource.bind(this)" list-formatter="formatted_address" name="location" [ngModel]="ParamsSearch.address" (valueChanged)="AddressChanged($event)" class="form-control input-withicon input-lg" placeholder="Emplacement..">
                <span class="material-icons input-icon">location_on</span>
            </div>
            <div class="form-group index-search">
                <input ngui-auto-complete [min-chars]="2" [max-num-list]="10" [auto-select-first-item]="true" [select-on-blur]="true" [source]="Categories"  [list-formatter]="autocompleListFormatter" value-property-name="value" display-property-name="name" class="form-control input-withicon input-lg" name="category" (valueChanged)="CategoryChanged($event)" placeholder="Category">
                
                <span class="material-icons input-icon">favorite</span>
            </div>
            <div class="form-group form-group-makeinline">
                <input type="text" name="today" [bsConfig]="bsConfig" [ngModel]="ParamsSearch.from_date" (ngModelChange)="ParamsSearch.from_date= $event" class="form-control input-withicon input-lg" bsDatepicker >
                <span class="material-icons input-icon">today</span>
            </div>
            <div class="form-group form-group-makeinline">
                <button type="button" class="btn btn-success input-withicon btn-lg" (click)="openSearch()">Rechercher</button>
                <span class="material-icons input-icon white-span">search</span>
            </div>
        </form>
    </div>
</div>


<div class="container center-block container1440">
    <div class="row middle">
        <div class="h123 h1-first-index">
            <h1>Le Plus Populaire</h1>
        </div>
    </div>
    <div class="row middle">
        <div class="h123">   
            <h2 class="middle-text-2">Profitez de la vie avec les autres autour de vous</h2>
        </div>
    </div>

    <div *ngIf="!isLoading && Activities.length > 0">
        <div class="row">
            <div *ngIf="Activities.length >0 " class="card col-md-8 bg_cover" [ngStyle]="{'background':'url(' + Images['act'+Activities[0].id] + ')'}">
                <h3 class="cardname">{{Activities[0].title}}</h3>
                <h3 class="carddate">{{Activities[0].calendar[0].date | date: "dd MMM"}}</h3>
                <div class="avatar">
                    <img class="profile-logo" alt="logo" [src]="Images['user'+Activities[0].user_id]?Images['user'+Activities[0].user_id]:'./app/images/man.jpg'">
                    <span class="profile-text">{{Users[Activities[0].user_id]?.name?Users[Activities[0].user_id]?.name:'Author'}}</span>
                </div>
                <span class="cardshadow"></span>
                <a [routerLink]="['/activity',Activities[0].id]"><span class="spanlink"></span></a>
            </div>
            <div *ngIf="Activities.length > 1" class="card col-md-4 bg_cover" [ngStyle]="{'background':'url(' + Images['act'+Activities[1].id] + ')'}">
                <h3 class="cardname">{{Activities[1].title}}</h3>
                <h3 class="carddate">{{Activities[1].calendar[0].date | date: "dd MMM"}}</h3>
                <div class="avatar">
                    <img class="profile-logo" alt="logo" [src]="Images['user'+Activities[1].user_id]?Images['user'+Activities[1].user_id]:'./app/images/man.jpg'">
                    <span class="profile-text">{{Users[Activities[1].user_id]?.name?Users[Activities[1].user_id]?.name:'Author'}}</span>
                </div>
                <span class="cardshadow"></span>
                <a [routerLink]="['/activity',Activities[1].id]"><span class="spanlink"></span></a>
            </div>
        </div>   
        
        <div class="row">
            <div *ngIf="Activities.length >2 " class="card col-md-4 bg_cover" [ngStyle]="{'background':'url(' + Images['act'+Activities[2].id] + ')'}">
                <h3 class="cardname">{{Activities[2].title}}</h3>
                <h3 class="carddate">{{Activities[2].calendar[0].date | date: "dd MMM"}}</h3>
                <div class="avatar">
                    <img class="profile-logo" alt="logo" [src]="Images['user'+Activities[2].user_id]?Images['user'+Activities[2].user_id]:'./app/images/man.jpg'">
                    <span class="profile-text">{{Users[Activities[2].user_id]?.name?Users[Activities[2].user_id]?.name:'Author'}}</span>
                </div>
                <span class="cardshadow"></span>
                <a [routerLink]="['/activity',Activities[2].id]"><span class="spanlink"></span></a>
            </div>
            <div *ngIf="Activities.length > 3" class="card col-md-8 bg_cover" [ngStyle]="{'background':'url(' + Images['act'+Activities[3].id] + ')'}">
                <h3 class="cardname">{{Activities[3].title}}</h3>
                <h3 class="carddate">{{Activities[3].calendar[0].date | date: "dd MMM"}}</h3>
                <div class="avatar">
                    <img class="profile-logo" alt="logo" [src]="Images['user'+Activities[3].user_id]?Images['user'+Activities[3].user_id]:'./app/images/man.jpg'">
                    <span class="profile-text">{{Users[Activities[3].user_id]?.name?Users[Activities[3].user_id]?.name:'Author'}}</span>
                </div>
                <span class="cardshadow"></span>
                <a [routerLink]="['/activity',Activities[3].id]"><span class="spanlink"></span></a>
            </div>
        </div>
    </div>

<div class="row middle3">
    <div class="col-md-12">
        <a routerLink="/discover" class="btn btn-default btn-pink btn-withicon">Découvrir les activités <span class="material-icons">favorite</span></a>    
    </div>
</div>
</div>







<div class="container-fluid container1440 center-block">
        <div class="row middle">
            <div class="h123 h1-first-index">
                <h1 class="middle-text grey-span">Sports Sélectionnés</h1>
            </div>
        </div>
        <div class="row middle">
            <div class="h123">   
                <h2 class="middle-text-2">Dans un corps sain, esprit sai</h2>
            </div>
        </div>
        <div class="row pics">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/mountain.png">
                <span class="logo-text">Mountains</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/golf.png">
                <span class="logo-text">Golf</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/bicycle.png">
                <span class="logo-text">Biking</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4  col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/parachute.png">
                <span class="logo-text">Skydiving</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/golf.png">
                <span class="logo-text">Golf</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/mountain.png">
                <span class="logo-text">Mountains</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
        </div>
        <div class="row middle5">
            <div class="col-md-12">
                <a routerLink="/discover" class="btn btn-lg btn-green btn-withicon">Découvrir les sports <span class="material-icons">favorite</span></a>
        
            </div>
        </div>
    </div>
    