<div class="container-fluid hero">
    <div class="hero-content">
        <h1>Envie de dépenser votre énergie</h1>
        <form class="form-inline" action="search.html" method="get">
            <div class="form-group index-search">
                <input type="text" class="form-control input-withicon input-lg" placeholder="Emplacement..">
                <span class="material-icons input-icon">location_on</span>
            </div>
            <div class="form-group index-search">
                <input type="text" class="form-control input-withicon input-lg" placeholder="Activitées">
                <span class="material-icons input-icon">favorite</span>
            </div>
            <div class="form-group form-group-makeinline">
                <input type="text" [bsConfig]="bsConfig" class="form-control input-withicon input-lg" bsDatepicker >
                <span class="material-icons input-icon">today</span>
            </div>
            <div class="form-group form-group-makeinline">
                <button type="button" class="btn btn-success input-withicon btn-lg">Rechercher</button>
                <span class="material-icons input-icon white-span">search</span>
            </div>
        </form>
    </div>
</div>

<div class="container center-block container1440">
    <div class="row middle">
        <div class="h123 h1-first-index">
            <h1>Le Plus Populaire</h1>
        </div>
    </div>
    <div class="row middle">
        <div class="h123">   
            <h2 class="middle-text-2">Profitez de la vie avec les autres autour de vous</h2>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8 bg_cover" style="background-image:url('./app/images/surfer.jpg');">
            <h3 class="cardname">Le monde avec une hauteur de Mikhail</h3>
            <h3 class="carddate">June 24</h3>
            <div class="avatar">
                <img class="profile-logo" alt="logo" src="./app/images/man.jpg">
                <span class="profile-text">Michael</span>
            </div>
            <span class="cardshadow"></span>
            <a routerLink="/activity"><span class="spanlink"></span></a>
        </div>
        <div class="card col-md-4 bg_cover" style="background-image:url('./app/images/vf2.jpg');">
            <h3 class="cardname">Rafting fraîche</h3>
            <h3 class="carddate">June 24</h3>
            <div class="avatar">
                <img class="profile-logo" alt="logo" src="./app/images/man.jpg">
                <span class="profile-text">Diana</span>
            </div>
            <span class="cardshadow"></span>
            <a routerLink="/activity"><span class="spanlink"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-4 bg_cover" style="background-image:url('./app/images/parashut.jpg');">
            <h3 class="cardname">Parachute au-dessus de Paris</h3>
            <h3 class="carddate">June 24</h3>
            <div class="avatar">
                <img class="profile-logo" alt="logo" src="./app/images/man.jpg">
                <span class="profile-text">George</span>
            </div>
            <span class="cardshadow"></span>
            <a routerLink="/activity"><span class="spanlink"></span></a>
        </div>
        <div class="card col-md-8 bg_cover" style="background:url('./app/images/child.jpg');">
            <h3 class="cardname">Surf à Montpellier</h3>
            <h3 class="carddate">June 24</h3>
            <div class="avatar">
                <img class="profile-logo" alt="logo" src="./app/images/man.jpg">
                <span class="profile-text">Juke</span>
            </div>
            <span class="cardshadow"></span>
            <a routerLink="/activity"><span class="spanlink"></span></a>
        </div>
    </div>
    <div class="row middle3">
        <div class="col-md-12">
            <a routerLink="/discover" class="btn btn-default btn-pink btn-withicon">Découvrir les activités <span class="material-icons">favorite</span></a>    
        </div>
    </div>
</div>

<div class="container-fluid container1440 center-block">
        <div class="row middle">
            <div class="h123 h1-first-index">
                <h1 class="middle-text grey-span">Sports Sélectionnés</h1>
            </div>
        </div>
        <div class="row middle">
            <div class="h123">   
                <h2 class="middle-text-2">Dans un corps sain, esprit sai</h2>
            </div>
        </div>
        <div class="row pics">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/mountain.png">
                <span class="logo-text">Mountains</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/golf.png">
                <span class="logo-text">Golf</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/bicycle.png">
                <span class="logo-text">Biking</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4  col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/parachute.png">
                <span class="logo-text">Skydiving</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/golf.png">
                <span class="logo-text">Golf</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="logo img-responsive center-block" alt="logo" src="./app/images/mountain.png">
                <span class="logo-text">Mountains</span>
                <a routerLink="/discover"><span class="spanlink"></span></a>
            </div>
        </div>
        <div class="row middle5">
            <div class="col-md-12">
                <a routerLink="/discover" class="btn btn-lg btn-green btn-withicon">Découvrir les sports <span class="material-icons">favorite</span></a>
        
            </div>
        </div>
    </div>
    