<div class="main-content" >
    <div class="container-fluid">
        <loading-cmp *ngIf="isLoading"></loading-cmp>
        <div class="row" *ngIf="!isLoading">
            <div class="col-md-12" *ngIf="RegistrationErr">
                <h2 class="error-msg">{{RegErrMsg}}</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <p>Name: {{Coworking.full_name}}</p>
                        <p>Price: {{Coworking.price}}$</p>
                        <p>Capacity: {{Coworking.capacity}}</p>
                        <p>Address: {{Coworking.address}}</p>
                        <p>Expiration date: {{Booking.end_date | date:'dd.MM.yyyy HH:mm'}}</p>
                        <p style="word-wrap: break-word; word-break: break-all;">Description: {{Coworking.description}}</p>
                        <countdown units="Hours | Minutes | Seconds"  [end]="Booking.end_date"></countdown>
                        <div *ngIf="Booking.is_closed" class="likeDislike"> 
                            <button class="like" (click)="rateCoworking(Coworking.id,'yes')" [ngClass]="{'checked-rate':Rate && Rate.score == 'yes'}"></button>
                            <button class="dislike"(click)="rateCoworking(Coworking.id,'no')"[ngClass]="{'checked-rate':Rate && Rate.score == 'no'}"></button>
                        </div>
                        <button type="button" class="btn btn-info btn-fill pull-right" style="margin-right: 15px;" (click)="extendBooking()">Extend by 30 min</button>
                    </div>
                </div>
            </div>
            <!-- *ngIf="Booking.end_date < rightNow" -->
                   
        </div>
    </div>
</div>
