<div class="wrapper row2">
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main id="container" class="clear">
    <!-- container body -->
    
    <div class="login_form">
      <h1>Login</h1>
      <form >
        <label>Email</label>
        <input type="text" name="email" [(ngModel)]="email">
        <br>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password"><br>
        <button (click)="OnLoginButtonClick(email,password)">Login</button>
      </form>
    </div>

    <!-- ########################################################################################## -->
    <!-- / container body -->
    <div class="clear"></div>
  </main>
</div>