<nav class="header">
    <div class="container-fluid center-block">
        <div class="pull-left">
            <h2><a class="sportrotter" routerLink="/">Sportrotter</a></h2>
        </div>
        <ul class="list-inline pull-right">
            <li><a routerLink="/">Index</a></li>
        <li><a routerLink="/discover">Discover</a></li>
        <li ><a routerLink="/activity">Activity</a></li>
        <li ><a routerLink="/search">Search</a></li>
        <li ><a routerLink="/search">User</a></li>
        </ul>
    </div>
</nav>